# Gitlab CICD script for example stage
# Author huca@GMV 2023

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable does not exist." && exit 1; fi
    
.check-and-publish: &check-and-publish
#    - $AIR/../utils/gitlab-runner/testcheck.py 
    - $UTILS/publish_example.bash

# ARM 
ARM-QEMU:
    stage: examples
    tags: ["ARM"]
    needs: ["RVS-ARM-ZYNQZ1-build"]
    script: 
        - cd $AIR/examples/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true 
        - make distclean -i
        - *check-and-publish
    timeout: 10 minutes
    parallel:
      matrix:
        - EXAMPLE:
            - "hello_world"
            - "bare_c"

# SPARC
SPARC-LAYSIM:
    stage: examples
    tags: ["sparc-taste-debian1"]
    needs: ["RVS-SPARC-LAYSIM-build"]
    script:
        - TEST_DIR=$(if [[ "$EXAMPLE" == "paranoia" || "$EXAMPLE" == "smp01" || "$EXAMPLE" == "smp02" ]]; then echo "$AIR/examples/testsuites/$EXAMPLE"; else echo "$AIR/examples/$EXAMPLE"; fi)
        - cd $TEST_DIR
        - *build-executable
        - sshpass -p $PASSWORD2 scp executable/AIRAPP.exe gitlabrunner@$KNOWLI:/home/gitlabrunner && echo "File transfer successful." || echo "File transfer failed."
        - sshpass -p $PASSWORD2 scp $UTILS/gdb_sparc_rvs_coverage-ci gitlabrunner@$KNOWLI:/home/gitlabrunner && echo "File transfer successful." || echo "File transfer failed."
        - sshpass -p $PASSWORD2 scp $UTILS/target_cmds_eth_sparc.bash gitlabrunner@$KNOWLI:/home/gitlabrunner && echo "File transfer successful." || echo "File transfer failed."
        - script -c "sshpass -p $PASSWORD2 ssh -tt gitlabrunner@$KNOWLI 'bash -s < target_cmds_eth_sparc.bash'" testresult.txt
        - sshpass -p $PASSWORD2 scp gitlabrunner@$KNOWLI:/home/gitlabrunner/memdump.bin $TEST_DIR && echo "File transfer successful." || echo "File transfer failed."
        - sshpass -p $PASSWORD2 scp gitlabrunner@$KNOWLI:/home/gitlabrunner/gdb_output.txt $TEST_DIR && echo "File transfer successful." || echo "File transfer failed."
        - cat gdb_output.txt
        - make distclean -i
        - *check-and-publish
    timeout: 10 minutes
    parallel:
      matrix:
        - EXAMPLE:
            - "hello_world"
            - "bare_c"
            - "hm"
            - "ports"
            - "shm"
            - "paranoia"
            - "smp01"
            - "smp02"
            #- "math"

