# Gitlab CICD script for .pre stage
# Author huca@GMV 2023

# .pre are jobs ran before any other job in the pipeline
# These jobs are used to check the state of VMs and to performn any specific VM action such as a cleanup.
# ARM and TASTE 1 are not allowed to fail since they are the only one with RVS license.
.pre-job-template:
    stage: .pre
    variables:
        GIT_STRATEGY: none
    before_script: 
        - ''               # Prevents the before_script from running
    script:
        - echo "Scheduled pipeline running..." 
        - if ! [[ -z $CLEANUP ]]; then 
            rm -rf /home/gitlab-runner/state/* ;
          fi

        - git config --global credential.helper store
        - echo "https://${GIT_HTTP_USERNAME}:${CI_JOB_TOKEN}@$(AIR_GIT_REMOTE_HOSTNAME)" > ~/.git-credentials
            
        - if ! test -d $STATE_FOLDER; then 
            (mkdir -p $STATE_FOLDER || true)
          fi;

        - git clone git@$(AIR_GIT_REMOTE_HOSTNAME):AIR/air-dev.git $STATE_FOLDER

# ARM
ARM1_init:
    extends: .pre-job-template
    tags: ["ARM1"]

ARM2_init:
    extends: .pre-job-template
    tags: ["ARM2"]

ARM3_init:
    extends: .pre-job-template
    tags: ["ARM3"]
        
# TASTE
TASTE1_init:
    extends: .pre-job-template
    tags: ["sparc-taste-debian1"]

TASTE2_init:
    extends: .pre-job-template
    tags: ["sparc-taste-debian2"]

TASTE3_init:
    extends: .pre-job-template
    tags: ["sparc-taste-debian3"]