# Gitlab CICD script for validation stage
# Author huca@GMV 2023

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable does not exist." && exit 1; fi

.check-and-publish: &check-and-publish
    - $AIR/../utils/gitlab-runner/testcheck.py
    - $UTILS/publish_example.bash

# ARM
ARM-QEMU-validation-test:
    stage: validation_tests
    tags: ["ARM"]
    needs: ["RVS-ARM-ZYNQZ1-build"]
    script: 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true
        - *check-and-publish
    timeout: 5 minutes
    parallel:
      matrix:
        - EXAMPLE:
          #- "TEST-DEF-00009"
          #- "TEST-DEF-00010"
          #- "TEST-DEF-00012"
          #- "TEST-DEF-00021"
          #- "TEST-DEF-00022"
          - "TEST-DEF-00023"
          - "TEST-DEF-00500"
          - "TEST-DEF-00510"
          #- "TEST-DEF-00540"
          #- "TEST-DEF-00560"
          - "TEST-DEF-00600"
          - "TEST-DEF-01200"
          - "TEST-DEF-01210"
          - "TEST-DEF-01390"
          #- "TEST-DEF-01570"
          #- "TEST-DEF-01590"
          #- "TEST-DEF-01610"
          - "TEST-DEF-01620"
          - "TEST-DEF-01630"
          - "TEST-DEF-01650"
          - "TEST-DEF-01730"
          - "TEST-DEF-01740"
          - "TEST-DEF-01741"
          - "TEST-DEF-01742"
          - "TEST-DEF-01750"
          #- "TEST-DEF-02100"
          #- "TEST-DEF-80000"
          #- "TEST-DEF-80010"
          - "TEST-DEF-80060"
          #- "TEST-DEF-80080"
          #- "TEST-DEF-80300"
          #- "TEST-DEF-80400"
          #- "TEST-DEF-80401"
          #- "TEST-DEF-80420"

#00001_arm_zynqz1: 
#    stage: examples
#    tags: 
#        - ARM
#    script:
#        - cd $AIR/examples/private-example/private/arm_unit_tests/lionel
#        - *build-executable
#        - $UTILS/runQemu.bash executable/AIRAPP.exe
#        - *check-and-publish

# SPARC
SPARC-LAYSIM-validation-test:
  stage: validation_tests
  tags: ["sparc-taste-debian1"]
  needs: ["RVS-SPARC-LAYSIM-build"]
  script: 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - sshpass -p $PASSWORD2 scp executable/AIRAPP.exe gitlabrunner@$KNOWLI:/home/gitlabrunner && echo "File transfer successful." || echo "File transfer failed."
        - sshpass -p $PASSWORD2 scp $UTILS/gdb_sparc_rvs_coverage-ci.gdb gitlabrunner@$KNOWLI:/home/gitlabrunner && echo "File transfer successful." || echo "File transfer failed."
        - sshpass -p $PASSWORD2 scp $UTILS/target_cmds_eth_sparc.bash gitlabrunner@$KNOWLI:/home/gitlabrunner && echo "File transfer successful." || echo "File transfer failed."
        - script -c "sshpass -p $PASSWORD2 ssh -tt gitlabrunner@$KNOWLI 'bash -s < target_cmds_eth_sparc.bash'" testresult.txt
        - sshpass -p $PASSWORD2 scp gitlabrunner@$KNOWLI:/home/gitlabrunner/memdump.bin $AIR/examples/private-example/private/validation/$EXAMPLE && echo "File transfer successful." || echo "File transfer failed."
        #- laysim-gr740-mmu-cli -batch ../../rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - make distclean -i
        - *check-and-publish
  timeout: 5 minutes
  parallel:
      matrix:
        - EXAMPLE:
          - "TEST-DEF-00009"
          - "TEST-DEF-00010"
          - "TEST-DEF-00012"
          - "TEST-DEF-00021"
          - "TEST-DEF-00022"
          - "TEST-DEF-00023"
          - "TEST-DEF-00500"
          - "TEST-DEF-00510"
          - "TEST-DEF-00540"
          - "TEST-DEF-00560"
          - "TEST-DEF-00600"
          - "TEST-DEF-01200"
          - "TEST-DEF-01210"
          - "TEST-DEF-01390"
          - "TEST-DEF-01561"
          - "TEST-DEF-01570"
          - "TEST-DEF-01590"
          - "TEST-DEF-01610"
          - "TEST-DEF-01650"
          - "TEST-DEF-01730"
          - "TEST-DEF-01740"
          - "TEST-DEF-01741"
          - "TEST-DEF-01750"
          - "TEST-DEF-02100"
          #- "TEST-DEF-02101"
          #- "TEST-DEF-02102"
          #- "TEST-DEF-02105"
          #- "TEST-DEF-02107"
          #- "TEST-DEF-02108"
          - "TEST-DEF-80000"
          - "TEST-DEF-80010"
          - "TEST-DEF-80060"
          - "TEST-DEF-80080"
          - "TEST-DEF-80300"
          - "TEST-DEF-80400"
          - "TEST-DEF-80401"
          - "TEST-DEF-80420"

