<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ARINC_653_Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ModuleName="iop_example">

  <!-- Partition 1  -->
  <Partition PartitionIdentifier="1" PartitionName="iop"
    Criticality="LEVEL_A" EntryPoint="empty" SystemPartition="true">
    <Sampling_Port Name="dsampling" Direction="DESTINATION" MaxMessageSize="1024" RefreshRateSeconds="1.0"/>
    <Queuing_Port Name="squeuing" Direction="SOURCE" MaxMessageSize="1024" MaxNbMessages="32" />
    <PartitionConfiguration Personality="BARE" IOP="iop.xml" Cores="1">
      <Libs>LIBIOP</Libs>
      <Devices></Devices>
      <Cache>CODE; DATA</Cache>
      <Memory Size="0x1000000" />
      <Permissions>SUPERVISOR;</Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 2 -->
  <Partition PartitionIdentifier="2" PartitionName="sampling"
    Criticality="LEVEL_A" EntryPoint="entry_func" SystemPartition="false">
    <Sampling_Port Name="ssampling" Direction="SOURCE" MaxMessageSize="1024" RefreshRateSeconds="1.0"/>
    <Queuing_Port Name="dqueuing" Direction="DESTINATION" MaxMessageSize="1024" MaxNbMessages="32" />
    <PartitionConfiguration Personality="BARE">
      <Libs>LIBAIR; IMASPEX; LIBPRINTF</Libs>
      <Devices></Devices>
      <Cache>CODE; DATA</Cache>
      <Memory Size="0x4000000" />
      <Permissions>
          FPU_CONTROL; CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
      </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 3 -->
  <!--<Partition PartitionIdentifier="3" PartitionName="queuing"
    Criticality="LEVEL_A" EntryPoint="entry_func" SystemPartition="false">
    <Queuing_Port Name="dqueuing" Direction="DESTINATION" MaxMessageSize="1024" MaxNbMessages="32" />
    <PartitionConfiguration Personality="BARE">
      <Libs>LIBAIR; IMASPEX; LIBPRINTF</Libs>
      <Devices></Devices>
      <Cache>CODE; DATA</Cache>
      <Memory Size="0x1000000" />
      <Permissions>
          FPU_CONTROL; CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
      </Permissions>
    </PartitionConfiguration>
    </Partition> -->

  <!-- Schedule 1 -->
  <Module_Schedule ScheduleIdentifier="1" ScheduleName="schedule"
    InitialModuleSchedule="true" MajorFrameSeconds="1">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="iop"
      PeriodDurationSeconds="0.5" PeriodSeconds="1">
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="true"
        WindowDurationSeconds="0.5" WindowStartSeconds="0"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="2" PartitionName="sampling"
      PeriodDurationSeconds="0.5" PeriodSeconds="1">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true"
        WindowDurationSeconds="0.5"  WindowStartSeconds="0.5"/>
    </Partition_Schedule>
    <!--<Partition_Schedule PartitionIdentifier="3" PartitionName="queuing"
      PeriodDurationSeconds="0.5" PeriodSeconds="2">
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="true"
        WindowDurationSeconds="0.5"  WindowStartSeconds="1.5"/>
    </Partition_Schedule>-->
 </Module_Schedule>

  <!-- Connection table  -->
  <Connection_Table>
    <Channel ChannelIdentifier="1" ChannelName="sampling">
      <Source>
        <Standard_Partition PartitionIdentifier="2" PartitionName="sampling"
          PortName="ssampling"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="1" PartitionName="iop"
          PortName="dsampling"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="2" ChannelName="queuing">
      <Source>
        <Standard_Partition PartitionIdentifier="1" PartitionName="iop"
          PortName="squeuing"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="2" PartitionName="sampling"
          PortName="dqueuing"/>
      </Destination>
    </Channel>
  </Connection_Table>

    <!-- HM configuration -->
  <System_HM_Table>
    <System_State_Entry Description="Module Initialization" SystemState="0">
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="0" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="1" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="2" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Unimplemented Error" ErrorIdentifier="3" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="4" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="5" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="6" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="7" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Configuration Error" ErrorIdentifier="8" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Module Config Error" ErrorIdentifier="9" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="10" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="11" ErrorLevel="MODULE"/>
    </System_State_Entry>
    <System_State_Entry Description="PMK Execution" SystemState="1">
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="0" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="1" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="2" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Unimplemented Error" ErrorIdentifier="3" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="4" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="5" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="6" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="7" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Configuration Error" ErrorIdentifier="8" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Module Config Error" ErrorIdentifier="9" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="10" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="11" ErrorLevel="MODULE"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Initialization" SystemState="2">
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="0" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="1" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="2" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Unimplemented Error" ErrorIdentifier="3" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="4" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="5" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="6" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="7" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Partition Conf Error" ErrorIdentifier="8" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Partition Init Error" ErrorIdentifier="9" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="10" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="11" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="APEX Error" ErrorIdentifier="12" ErrorLevel="PARTITION"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Operating System" SystemState="3">
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="0" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="1" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="2" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Unimplemented Error" ErrorIdentifier="3" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="4" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="5" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="6" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="7" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Partition Conf Error" ErrorIdentifier="8" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Partition Init Error" ErrorIdentifier="9" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="10" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="11" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="APEX Error" ErrorIdentifier="12" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Deadline Miss" ErrorIdentifier="13" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="App Hardware Error" ErrorIdentifier="14" ErrorLevel="PARTITION"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Application" SystemState="4">
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="0" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="1" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="2" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Unimplemented Error" ErrorIdentifier="3" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="4" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="5" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="6" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="7" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Partition Conf Error" ErrorIdentifier="8" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Partition Init Error" ErrorIdentifier="9" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="10" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="11" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="APEX Error" ErrorIdentifier="12" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Deadline Miss" ErrorIdentifier="13" ErrorLevel="PARTITION"/>
    </System_State_Entry>
    <System_State_Entry Description="Health Monitor Processing" SystemState="6">
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="0" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="1" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="2" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Unimplemented Error" ErrorIdentifier="3" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="4" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="5" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="6" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="7" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="10" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="11" ErrorLevel="MODULE"/>
    </System_State_Entry>
  </System_HM_Table>

  <Module_HM_Table>
    <System_State_Entry Description="Module Initialization" SystemState="0">
      <Error_ID_Action Action="SHUTDOWN" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IGNORE" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="SHUTDOWN" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Configuration Error" ErrorIdentifier="8"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Module Config Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Debug Error" ErrorIdentifier="11"/>
    </System_State_Entry>
    <System_State_Entry Description="PMK Execution" SystemState="1">
      <Error_ID_Action Action="SHUTDOWN" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="SHUTDOWN" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="IGNORE" Description="Configuration Error" ErrorIdentifier="8"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Module Config Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Debug Error" ErrorIdentifier="11"/>
    </System_State_Entry>
    <System_State_Entry Description="Health Monitor Processing" SystemState="6">
      <Error_ID_Action Action="SHUTDOWN" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="SHUTDOWN" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Debug Error" ErrorIdentifier="11"/>
    </System_State_Entry>
  </Module_HM_Table>

  <Partition_HM_Table PartitionIdentifier="1" PartitionName="iop">
    <System_State_Entry Description="Partition Initialization" SystemState="2">
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="COLD_START" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IGNORE" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="COLD_START" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="COLD_START" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="IDLE" Description="Partition Conf Error" ErrorIdentifier="8"/>
      <Error_ID_Action Action="IDLE" Description="Partition Init Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="11"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="12"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Operating System" SystemState="3">
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="COLD_START" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IGNORE" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="COLD_START" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="COLD_START" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="11"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="WARM_START" Description="Deadline Miss" ErrorIdentifier="13"/>
      <Error_ID_Action Action="COLD_START" Description="App Hardware Error" ErrorIdentifier="14"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Application" SystemState="4">
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="COLD_START" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IGNORE" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="WARM_START" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="WARM_START" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="11"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="WARM_START" Description="Deadline Miss" ErrorIdentifier="13"/>
    </System_State_Entry>
  </Partition_HM_Table>

  <Partition_HM_Table PartitionIdentifier="2" PartitionName="sampling">
    <System_State_Entry Description="Partition Initialization" SystemState="2">
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="COLD_START" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IGNORE" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="COLD_START" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="COLD_START" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="IDLE" Description="Partition Conf Error" ErrorIdentifier="8"/>
      <Error_ID_Action Action="IDLE" Description="Partition Init Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="11"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="12"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Operating System" SystemState="3">
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="COLD_START" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IGNORE" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="COLD_START" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="COLD_START" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="11"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="WARM_START" Description="Deadline Miss" ErrorIdentifier="13"/>
      <Error_ID_Action Action="COLD_START" Description="App Hardware Error" ErrorIdentifier="14"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Application" SystemState="4">
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="0"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="1"/>
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="COLD_START" Description="Unimplemented Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IGNORE" Description="Floating Point Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="WARM_START" Description="Overflow Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="WARM_START" Description="Divide by zero" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="7"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="11"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="WARM_START" Description="Deadline Miss" ErrorIdentifier="13"/>
    </System_State_Entry>
  </Partition_HM_Table>

  <!-- Module configuration -->
  <AIR_Configuration TicksPerSecond="10" RequiredCores="1"/>
</ARINC_653_Module>
