# First version for AIR main source code
# Executed in TASTE VM centralized in 192.19.13.167
# author: $(AIR_RUNNER_USER) @GMV 2020, edited by huca@GMV 2023

include:
    - local: "gitlab-ci/push/*.yml"
      rules:
        - if: $CI_PIPELINE_SOURCE == "push"
    - local: "gitlab-ci/merge_request/*.yml"
      rules:
        - if: $CI_PIPELINE_SOURCE == "merge_request"

stages:
    - prepare-build
    - examples
    - validation_tests
    - report

default:
    retry: 1
    before_script:
        - sleep $(($RANDOM % 2)).$RANDOM
        - export STATE_FOLDER=$HOME/state/$CI_COMMIT_SHA

        - cd $STATE_FOLDER
        - cd air
        
        - export AIR=$STATE_FOLDER/air/
        - export PATH=$PATH:$AIR
        - export AIR_INSTALL=$AIR/install
        - export AIR_PMK=$AIR_INSTALL/pmk
        - export AIR_POS=$AIR_INSTALL/pos

        - export RTEMS410=/opt/rtems-4.10/bin
        - export PATH=$PATH:$RTEMS410
        - export RTEMS_MAKEFILE_PATH=$AIR_POS/rtems5/rtems5-install/sparc-rtems5/gr740
        - export PATH=$PATH:/opt/gcc-arm-9.2-2019.12-x86_64-arm-none-eabi/bin

        - export DISPLAY=:99
        - export PATH=/opt/rtems/5/bin:$PATH
        - export PATH=/opt/rtems-5.1-2019.07.25/bin:$PATH
        - export PATH=/opt/laysim-gr740:$PATH

        - export UTILS=$AIR/../utils/gitlab-runner

variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_ASKPASS: /bin/echo
    GIT_HTTP_USERNAME: huca
    GIT_HTTP_PASSWORD: $CI_JOB_TOKEN
