[submodule "air/pos/rtems48i"]
	path = air/pos/rtems48i
	url = ../rtems48i.git
[submodule "air/pos/rtems5"]
	path = air/pos/rtems5
	url = ../rtems5.git
[submodule "air/examples/private-example"]
	path = air/examples/private-example
	url = ../private-example.git
[submodule "air/tools/air-gui"]
	path = air/tools/air-gui
	url = ../air-gui.git
[submodule "utils/misraivoso"]
	path = utils/misraivoso
	url = ../misraivoso.git
