[submodule "air/pos/rtems48i"]
	path = air/pos/rtems48i
	url = https://$(AIR_GIT_REMOTE_HOSTNAME)/AIR/rtems48i.git
[submodule "air/pos/rtems5"]
	path = air/pos/rtems5
	url = https://$(AIR_GIT_REMOTE_HOSTNAME)/AIR/rtems5.git
[submodule "air/examples/private-example"]
	path = air/examples/private-example
	url = https://$(AIR_GIT_REMOTE_HOSTNAME)/AIR/private-example.git
[submodule "air/tools/air-gui"]
	path = air/tools/air-gui
	url = https://$(AIR_GIT_REMOTE_HOSTNAME)/AIR/air-gui.git
[submodule "utils/misraivoso"]
	path = utils/misraivoso
	url = https://$(AIR_GIT_REMOTE_HOSTNAME)/AIR/misraivoso.git
