# First version for AIR main source code
# Executed in TASTE VM centralized in 192.19.13.167
# author: $(AIR_RUNNER_USER) @GMV 2020, edited by huca@GMV 2023

include:
    - local: "gitlab-ci/push/*.yml"
      rules:
        - if: $CI_PIPELINE_SOURCE == "push"

    - local: "gitlab-ci/merge_request/*.yml"
      rules:
        - if: $CI_PIPELINE_SOURCE == "merge_request"

    - local: "gitlab-ci/schedule/*.yml"
      rules:
        - if: $CI_PIPELINE_SOURCE == "schedule"

    - local: "gitlab-ci/.gitlab-ci-validation.yml"

stages:
    - .pre
    - prepare-build
    - examples
    - validation_tests
    - solo_test # push pipeline only
    - report

variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_ASKPASS: /bin/echo
    GIT_HTTP_PASSWORD: $CI_JOB_TOKEN
    GIT_SSL_NO_VERIFY: 1

    STATE_FOLDER: /home/gitlab-runner/state/$CI_COMMIT_SHA
    AIR: $STATE_FOLDER/air/
    AIR_INSTALL: $AIR/install
    AIR_PMK: $AIR_INSTALL/pmk
    AIR_POS: $AIR_INSTALL/pos
    RTEMS410: /opt/rtems-4.10/bin
    UTILS: $STATE_FOLDER/utils/gitlab-runner

default:
    retry: 1
    before_script:
        - sleep $(($RANDOM % 2)).$RANDOM

        - git config --global credential.helper store
        - echo "https://${GIT_HTTP_USERNAME}:${CI_JOB_TOKEN}@$(AIR_GIT_REMOTE_HOSTNAME)" > ~/.git-credentials

        #- if ! test -f git-clean.lock;
        #    then 
        #        touch git-clean.lock;
        #    fi

        #- if ! $(grep -Fxq $CI_COMMIT_SHORT_SHA git-clean.lock); 
        #    then 
        #        git clean -ffdx && git submodule foreach --recursive git clean -ffdx && echo $CI_COMMIT_SHORT_SHA > git-clean.lock; 
        #        git submodule update --init --recursive; 
        #        git submodule sync --recursive; 
        #    fi
            
        - if ! test -d $STATE_FOLDER; then 
            (mkdir -p $STATE_FOLDER || true)
          fi;
        - ./utils/gitlab-runner/check_central_server.bash;

        - while test -e /tmp/rsync-"$CI_COMMIT_SHORT_SHA".lock; 
            do sleep 1; 
            done;    

        - cd $AIR

        #- cd $STATE_FOLDER
        #- cd air
        
        - export PATH=$PATH:$AIR
        #- export AIR_INSTALL=$AIR/install
        #- export AIR_PMK=$AIR_INSTALL/pmk
        #- export AIR_POS=$AIR_INSTALL/pos

        #- export RTEMS410=/opt/rtems-4.10/bin
        - export PATH=$PATH:$RTEMS410
        - export RTEMS_MAKEFILE_PATH=$AIR_POS/rtems5/rtems5-install/sparc-rtems5/gr740
        - export PATH=$PATH:/opt/gcc-arm-9.2-2019.12-x86_64-arm-none-eabi/bin

        - export DISPLAY=:99
        - export PATH=/opt/rtems/5/bin:$PATH
        - export PATH=/opt/rtems-5.1-2019.07.25/bin:$PATH
        - export PATH=/opt/laysim-gr740:$PATH

        #- export UTILS=$AIR/../utils/gitlab-runner 

placeholder:
    stage: .pre
    script:
        - echo "This job's only purpose is to be the only visible job in the pipeline editor to avoid erroneous syntax errors."
    rules:
        - when: never

.changes_job_1:
    stage: .pre
    script:
        - echo "This job does not execute when the push folder has changed"
    except:
        changes:
            - "gitlab-ci/push/*"

.changes_job_2:
    stage: .pre
    script:
        - echo "This job does not execute when the merge folder has changed"
    except:
        changes:
            - "gitlab-ci/merge_request/*"

