# First version for AIR main source code
# Executed in TASTE VM centralized in 192.19.13.167
# author: $(AIR_RUNNER_USER) @GMV 2020, edited by huca@GMV 2023

include:
    - local: "gitlab-ci/push/*.yml"
      rules:
        - if: $CI_PIPELINE_SOURCE == "push"
    - local: "gitlab-ci/merge_request/*.yml"
      rules:
        - if: $CI_PIPELINE_SOURCE == "merge_request"

stages:
    - prepare-build
    - examples
    - validation_tests
    - report

variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_ASKPASS: /bin/echo
    GIT_HTTP_USERNAME: huca
    GIT_HTTP_PASSWORD: $CI_JOB_TOKEN
