.ARM-QEMU-validation-template:
    stage: test
    tags: ["ARM"]
    needs: ["RVS-ARM-ZYNQZ1-build"]
    script: 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true
        - *check-and-publish
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request"'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE =~ /^\[ALL\]/'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE =~ /^\[ARM\]/ && $CI_COMMIT_MESSAGE !~ /(\d{5})/'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/ && $CI_COMMIT_MESSAGE !~ /(\d{5})/'
    timeout: 5 minutes


ARM-QEMU-TEST-DEF:
    extends: .ARM-QEMU-validation-template
    parallel:
      matrix:
        EXAMPLE:
          - "TEST-DEF-00023"
          - "TEST-DEF-00500"
          - "TEST-DEF-00510"
