# Gitlab CICD script for example stage
# Author huca@GMV 2023

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable doens\'t exist." && exit 1; fi

.check-and-publish: &check-and-publish
#    - $AIR/../utils/gitlab-runner/testcheck.py
    - $UTILS/publish_example.bash

# ARM 
.ARM-QEMU-example-template:
    stage: examples
    needs: 
        - job: RVS-ARM-ZYNQZ1-build
          optional: true
    tags:  ["ARM"]
    script: 
        - cd $AIR/examples/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true 
        - make distclean
        - *check-and-publish
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|ARM)\]/ && $CI_JOB_NAME =~ /(hello\_world|bare\_c)$/'
        - if: '$CI_COMMIT_MESSAGE !~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /(hello\_world|bare\_c)$/'

ARM-QEMU-hello_world:
    extends: .ARM-QEMU-example-template
    variables: 
        EXAMPLE: "hello_world"

ARM-QEMU-bare_c:
    extends: .ARM-QEMU-example-template
    variables: 
        EXAMPLE: "bare_c"

# SPARC
.SPARC-LAYSIM-example-template:
    stage: examples
    needs: 
        - job: RVS-SPARC-LAYSIM-build
          optional: true
        - job: SPARC-LEON4-build
          optional: true
    tags:  ["SPARC","LAYSIM"]
    script:
        - cd $AIR/examples/$EXAMPLE
        - *build-executable
        - laysim-gr740-mmu-cli -batch ../../rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - make distclean
        - *check-and-publish
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|SPARC)\]/ && $CI_JOB_NAME =~ /(hello\_world|bare\_c)$/'

SPARC-LAYSIM-hello_world:
    extends: .SPARC-LAYSIM-example-template
    variables: 
        EXAMPLE: "hello_world"

SPARC-LAYSIM-bare_c:
    extends: .SPARC-LAYSIM-example-template
    variables: 
        EXAMPLE: "bare_c"
    
SPARC-LAYSIM-hm:
    extends: .SPARC-LAYSIM-example-template
    variables: 
        EXAMPLE: "hm"

SPARC-LAYSIM-ports:
    extends: .SPARC-LAYSIM-example-template
    variables: 
        EXAMPLE: "ports"

SPARC-LAYSIM-shm:
    extends: .SPARC-LAYSIM-example-template
    variables: 
        EXAMPLE: "shm"

SPARC-LAYSIM-paranoia:
    extends: .SPARC-LAYSIM-example-template
    variables: 
        EXAMPLE: "paranoia"
    script:
        - cd $AIR/examples/testsuites/$EXAMPLE
        - *build-executable
        - laysim-gr740-mmu-cli -batch $AIR/rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - *check-and-publish

SPARC-LAYSIM-smp01:
    extends: .SPARC-LAYSIM-example-template
    variables: 
        EXAMPLE: "smp01"
    script:
        - cd $AIR/examples/testsuites/$EXAMPLE
        - *build-executable
        - laysim-gr740-mmu-cli -batch $AIR/rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - *check-and-publish

SPARC-LAYSIM-smp02:
    extends: .SPARC-LAYSIM-example-template
    variables: 
        EXAMPLE: "smp02"
    script:
        - cd $AIR/examples/testsuites/$EXAMPLE
        - *build-executable
        - laysim-gr740-mmu-cli -batch $AIR/rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - *check-and-publish

# laysim-math:
#    extends: .SPARC-LAYSIM-example-template
#    variables: 
#        EXAMPLE: "math" 
