# Gitlab CICD script for example stage
# Author huca@GMV 2023

.enable_display1:
    stage: prepare-build
    tags: ["sparc-taste-debian1"]
    script:
        - cd $UTILS
        - chmod +x enable_display.sh
        - ./enable_display.sh $TASTE_PASSWORD
    timeout: 1m30s
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|SPARC)\]/' 

.enable_display2:
    stage: prepare-build
    tags: ["sparc-taste-debian2"]
    script:
        - cd $UTILS
        - chmod +x enable_display.sh
        - ./enable_display.sh $TASTE_PASSWORD
    timeout: 1m30s
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|SPARC)\]/' 

.enable_display3:
    stage: prepare-build
    tags: ["sparc-taste-debian3"]
    script:
        - cd $UTILS
        - chmod +x enable_display.sh
        - ./enable_display.sh $TASTE_PASSWORD
    timeout: 1m30s
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|SPARC)\]/' 

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable does not exist." && exit 1; fi

.check-and-publish: &check-and-publish
#    - $AIR/../utils/gitlab-runner/testcheck.py
    - $UTILS/publish_example.bash

# ARM 
ARM-QEMU:
    stage: examples
    tags: ["ARM"]
    #needs: ["RVS-ARM-ZYNQZ1-build"]
    needs: ["ARM-ZYNQZ1-build"]
    script:
        - cd $AIR/examples/$EXAMPLE
        - *build-executable
        #- ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true
        - ($UTILS/test.bash | tee testresult.txt)
        - make distclean -i
        - *check-and-publish
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|ARM)\]/'
        - if: '$CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/'
    timeout: 5 minutes
    artifacts:
        paths:
            - ./executable/AIRAPP.exe
    parallel:
      matrix:
        - EXAMPLE:
            - "hello_world"
            - "bare_c"

# SPARC
SPARC-LAYSIM:
    stage: examples
    tags: ["SPARC","LAYSIM"]
    #needs: ["RVS-SPARC-LAYSIM-build"]
    script:
        - if [[ "$EXAMPLE" == "paranoia" || "$EXAMPLE" == "smp01" || "$EXAMPLE" == "smp02" ]]; then
            cd $AIR/examples/testsuites/$EXAMPLE;
          else
            cd $AIR/examples/$EXAMPLE;
          fi
        - *build-executable
        - laysim-gr740-mmu-cli -batch $AIR/rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - make distclean -i
        - *check-and-publish
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|SPARC)\]/' 
    timeout: 5 minutes
    parallel:
      matrix:
        - EXAMPLE:
            - "hello_world"
            - "bare_c"
            #- "hm"
            #- "ports"
            #- "shm"
            #- "paranoia"
            #- "smp01"
            #- "smp02"

# laysim-math:
#    extends: .SPARC-LAYSIM-example-template
#    variables: 
#        EXAMPLE: "math"
