# Gitlab CICD script for .pre stage
# Author huca@GMV 2023

# .pre are jobs ran before any other job in the pipeline
# These jobs are used to check the state of VMs and to performn any specific VM action such as a cleanup.
# ARM and TASTE 1 are not allowed to fail since they are the only one with RVS license.
.pre-job-template:
    stage: .pre
    variables:
        GIT_STRATEGY: clone
    before_script: 
        - ''               # Prevents the before_script from running
    script:
        - echo "Cloning repository into runner"
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|ARM)\]/ && $CI_JOB_NAME =~ /^ARM/'
        - if: '$CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/ && $CI_JOB_NAME =~ /^ARM/'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|SPARC)\]/ && $CI_JOB_NAME =~ /^TASTE/'
# ARM
ARM1_init:
    extends: .pre-job-template
    tags: ["ARM1"]

ARM2_init:
    extends: .pre-job-template
    tags: ["ARM2"]

ARM3_init:
    extends: .pre-job-template
    tags: ["ARM3"]

# TASTE
TASTE1_init:
    extends: .pre-job-template
    tags: ["sparc-taste-debian1"]
    script:
        - source "$UTILS/enable_display.bash"

TASTE2_init:
    extends: .pre-job-template
    tags: ["sparc-taste-debian2"]
    script:
        - source "$UTILS/enable_display.bash"

TASTE3_init:
    extends: .pre-job-template
    tags: ["sparc-taste-debian3"]
    script:
        - source "$UTILS/enable_display.bash"
