# Gitlab CICD script for build stage
# Author huca@GMV 2023

# Build ARM ZYNQZ1
.ARM-ZYNQZ1-build:
    stage: prepare-build
    retry: 1
    tags:
        - ARM
    needs:
        - job: ARM2_init
          optional: true
        - job: ARM3_init
          optional: true
    script:
        - cd $CI_PROJECT_DIR/air
        - cp ./../utils/gitlab-runner/.arm_zynqz1_config .
        - ./configure -f .arm_zynqz1_config
        - make clean
        - make -j4

# ARM RVS PMK Instrumentation
RVS-ARM-ZYNQZ1-build:
    stage: prepare-build
    retry: 1
    tags:
        - ARM
        - RVS
    needs:
        - ARM3_init
    script:
        - export STATE_FOLDER=$HOME/state/$CI_COMMIT_SHA
        - cd $STATE_FOLDER
        - cd air
        
        - export AIR=$STATE_FOLDER/air/
        - export PATH=$PATH:$AIR
        - export AIR_INSTALL=$AIR/install
        - export AIR_PMK=$AIR_INSTALL/pmk
        - export AIR_POS=$AIR_INSTALL/pos

        - export RTEMS410=/opt/rtems-4.10/bin
        - export PATH=$PATH:$RTEMS410
        - export RTEMS_MAKEFILE_PATH=$AIR_POS/rtems5/rtems5-install/sparc-rtems5/gr740
        - export PATH=$PATH:/opt/gcc-arm-9.2-2019.12-x86_64-arm-none-eabi/bin

        - export DISPLAY=:99
        - export PATH=/opt/rtems/5/bin:$PATH
        - export PATH=/opt/rtems-5.1-2019.07.25/bin:$PATH
        - export PATH=/opt/laysim-gr740:$PATH

        - export UTILS=$AIR/../utils/gitlab-runner


        - sed -i 's/\.\/rvs_air\/scripts\/build_arm.bash/\.\/rvs_air\/scripts\/build_arm-ci.bash/g' air.rvsprj
        - rvsdriver --project $AIR/air.rvsprj --integration arm-pmk-coverage --prepare --build
        - bash $AIR/rvs_air/scripts/build_arm_pmk_archive-ci.bash
        - rm -rf $AIR/install/pos/rtems5/rtems5-build
        - rm -rf $AIR/install/pos/rtems48i/rtems48i-build
        - $UTILS/publish_to_central_server.bash
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|ARM)\]/' # message starts with [ALL] or [ARM]
        - if: '$CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/'

# SPARC RVS PMK Instrumentation
RVS-SPARC-LAYSIM-build:
    stage: prepare-build
    retry: 1
    tags:
        - SPARC
        - RVS
    needs:
        - TASTE1_init
    script:
        - echo "The value of TEST_NUMBER is $TEST_NUMBER"
        - sed -i 's/\.\/rvs_air\/scripts\/build.bash/\.\/rvs_air\/scripts\/build-ci.bash/g' air.rvsprj
        - rvsdriver --project $AIR/air.rvsprj --integration sparc-gr740-pmk-coverage --prepare --build
        - rm -rf $AIR/install/pos/rtems5/rtems5-build
        - rm -rf $AIR/install/pos/rtems48i/rtems48i-build
        - $UTILS/publish_to_central_server.bash
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|SPARC)\]/' # message starts with [ALL] or [SPARC]

# Build SPARC LEON4
.SPARC-LEON4-build:
    stage: prepare-build
    retry: 1
    tags:
        - OTHER
    needs:
        - job: TASTE2_init
          optional: true
        - job: TASTE3_init
          optional: true
    script:
        - cd $CI_PROJECT_DIR/air
        - cp ./../utils/gitlab-runner/.sparc_leon4_config .
        - ./configure -f .sparc_leon4_config
        - make clean
        - make -j4

# Build SPARC LEON3
.SPARC-LEON3-build:
    stage: prepare-build
    retry: 1
    tags:
        - OTHER
    needs:
        - job: TASTE2_init
          optional: true
        - job: TASTE3_init
          optional: true
    script:
        - cd $CI_PROJECT_DIR/air
        - cp ./../utils/gitlab-runner/.sparc_leon3_config .
        - ./configure -f .sparc_leon3_config
        - make clean
        - make -j4

# Build SPARC TSIM
# SPARC-TSIM-build:
#     stage: prepare-build
#     retry: 1
#     tags: 
#        - OTHER
#     needs: 
#        - TASTE2_init
#        - TASTE3_init
#     script:
#         - cd $CI_PROJECT_DIR/air
#         - cp ./../utils/gitlab-runner/.sparc_tsim_config .
#         - ./configure -f .sparc_tsim_config
#         - make clean
#         - make -j4