# Gitlab CICD script for .pre stage
# Author huca@GMV 2023

# .pre are jobs ran before any other job in the pipeline
# These jobs are used to check the state of VMs and to performn any specific VM action such as a cleanup.
# ARM and TASTE 1 are not allowed to fail since they are the only one with RVS license.
.pre-job-template:
    stage: .pre
    variables:
        GIT_STRATEGY: none # Prevents the cloning of the repository
    allow_failure: true
    retry: 1
    before_script: 
        #- ''               # Prevents the before_script from running
        - sleep $(($RANDOM % 2)).$RANDOM

        - export STATE_FOLDER=$HOME/state/$CI_COMMIT_SHA
        - export GIT_SSL_NO_VERIFY=1

        - git config --global credential.helper store
        - echo "https://huca:${CI_JOB_TOKEN}@$(AIR_GIT_REMOTE_HOSTNAME)" > ~/.git-credentials

        - if ! test -f git-clean.lock; 
            then 
                touch git-clean.lock; 
            fi

        - if ! $(grep -Fxq $CI_COMMIT_SHORT_SHA git-clean.lock); 
            then 
                git clean -ffdx && git submodule foreach --recursive git clean -ffdx && echo $CI_COMMIT_SHORT_SHA > git-clean.lock; 
                git submodule update --init --recursive; 
                git submodule sync --recursive; 
            fi
            
        - if ! test -d $STATE_FOLDER; 
            then 
                (mkdir -p $STATE_FOLDER || true) && ./utils/gitlab-runner/check_central_server.bash; 
            else 
                ./utils/gitlab-runner/check_central_server.bash;
            fi;

        - while test -e /tmp/rsync-"$CI_COMMIT_SHORT_SHA".lock; 
            do sleep 1; 
            done;        

        - cd $STATE_FOLDER
        - cd air
        
        - export AIR=$STATE_FOLDER/air/
        - export PATH=$PATH:$AIR
        - export AIR_INSTALL=$AIR/install
        - export AIR_PMK=$AIR_INSTALL/pmk
        - export AIR_POS=$AIR_INSTALL/pos

        - export RTEMS410=/opt/rtems-4.10/bin
        - export PATH=$PATH:$RTEMS410
        - export RTEMS_MAKEFILE_PATH=$AIR_POS/rtems5/rtems5-install/sparc-rtems5/gr740
        - export PATH=$PATH:/opt/gcc-arm-9.2-2019.12-x86_64-arm-none-eabi/bin

        - export DISPLAY=:99
        - export PATH=/opt/rtems/5/bin:$PATH
        - export PATH=/opt/rtems-5.1-2019.07.25/bin:$PATH
        - export PATH=/opt/laysim-gr740:$PATH

        - export UTILS=$AIR/../utils/gitlab-runner
    script: 
        -   if ! [[ -z $CLEANUP ]] ;
            then 
                echo "Cleaning up...";
                rm -rf /home/gitlab-runner/state/* ;
            fi

# ARM
ARM1_init:
    extends: .pre-job-template
    allow_failure: false
    tags:
        - ARM1
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|ARM)\]/' # message starts with [ALL] or [ARM]
        - if: '$CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/' # message does not have [...]

ARM2_init:
    extends: .pre-job-template
    tags:
        - ARM2
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|ARM)\]/' # message starts with [ALL] or [ARM]
        - if: '$CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/' # message does not have [...]

ARM3_init:
    extends: .pre-job-template
    tags:
        - ARM3
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|ARM)\]/' # message starts with [ALL] or [ARM]
        - if: '$CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/' # message does not have [...]

# TASTE
TASTE1_init:
    extends: .pre-job-template
    allow_failure: false
    tags:
        - sparc-taste-debian1
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ALL|SPARC)\]/' # message starts with [ALL] or [SPARC]

.TASTE2_init:
    extends: .pre-job-template
    tags:
        - sparc-taste-debian2
    rules:
        - if: '$CI_PIPELINE_SOURCE == "schedule"'

.TASTE3_init:
    extends: .pre-job-template
    tags:
        - sparc-taste-debian3
    rules:
        - if: '$CI_PIPELINE_SOURCE == "schedule"'

generate-test-yml:
    stage: .pre
    script:
        - export TEST_NUMBER=$(echo $CI_COMMIT_MESSAGE | sed -nE 's/.*([0-9]{5}).*/\1/p')
        - chmod +x ../gitlab-ci/push/generate-test.sh
        - ./../gitlab-ci/push/generate-test.sh $TEST_NUMBER
        - mv test.yml $CI_PROJECT_DIR
    artifacts:
        paths:
            - $CI_PROJECT_DIR/test.yml
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[(ARM|SPARC)\]/ && $CI_COMMIT_MESSAGE =~ /\(\d{5}\)/'
        - if: '$CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/ && $CI_COMMIT_MESSAGE =~ /\(\d{5}\)/'