# Gitlab CICD script for build stage
# Author huca@GMV 2023

# Note: make_test.sh might not cover some edge cases. The same goes for make.sh.
#       In the event of both scripts failing for whatever reason, revert to "make -j4"

# Build ARM ZYNQZ1
ARM-ZYNQZ1-build:
    stage: prepare-build
    tags: ["ARM1"]
    needs: ["ARM1_init"]
    script:
        - cp $UTILS/.arm_zynqz1_config .
        - ./configure -f .arm_zynqz1_config   
        - make clean
        - . $STATE_FOLDER/gitlab-ci/push/make_test.sh     # might not cover some edge cases
        #- . $STATE_FOLDER/gitlab-ci/push/make.sh
        #- make -j4
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /.*\[(ALL|ARM)\].*/' # message contains [ALL] or [ARM]
        - if: '$CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/'       # message does not contain any [...]

# Build SPARC GR740 
.SPARC-GR740-build:
    stage: prepare-build
    tags: ["sparc-taste-debian1"]
    needs: ["TASTE1_init"]
    script:
        - cp $UTILS/.sparc_gr740_config .
        - ./configure -f .sparc_gr740_config
        - make clean
        - . $STATE_FOLDER/gitlab-ci/push/make_test.sh     # might not cover some edge cases
        #- . $STATE_FOLDER/gitlab-ci/push/make.sh
        #- make -j4
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /.*\[(ALL|SPARC)\].*/' # message contains [ALL] or [SPARC]

# Build SPARC LEON4 
.SPARC-LEON4-build:
    stage: prepare-build
    tags: ["sparc-taste-debian1"]
    script:
        - cp $UTILS/.sparc_leon4_config .
        - ./configure -f .sparc_leon4_config
        - make clean
        - make -j4

    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /.*\[(ALL|SPARC)\].*/' # message contains [ALL] or [SPARC] 

# Build SPARC LEON3
.SPARC-LEON3-build:
    stage: prepare-build
    tags: ["OTHER"]
    script:
        - cp $UTILS/.sparc_leon3_config .
        - ./configure -f .sparc_leon3_config
        - make clean
        - make -j4
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /.*\[(ALL|SPARC)\].*/' # message contains [ALL] or [SPARC]

# Build SPARC TSIM 
.SPARC-TSIM-build:
    stage: prepare-build
    tags: ["OTHER"]
    script:
        - cp $UTILS/.sparc_tsim_config .
        - ./configure -f .sparc_tsim_config
        - make clean
        - make -j4
    rules:
       - if: '$CI_COMMIT_MESSAGE =~ /.*\[(ALL|SPARC)\].*/' # message contains [ALL] or [SPARC]