# Gitlab CICD script for example stage
# Author huca@GMV 2023

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable does not exist." && exit 1; fi

.check-and-publish: &check-and-publish
    - $UTILS/testcheck.py 
    - $UTILS/publish_example.bash

# ARM 
ARM-QEMU:
    stage: examples
    tags: ["ARM"]
    needs: ["RVS-ARM-ZYNQZ1-build"]
    script: 
        - cd $AIR/examples/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true 
        - make distclean -i
        - *check-and-publish
    timeout: 5 minutes
    parallel:
      matrix:
        - EXAMPLE:
            - "hello_world"
            - "bare_c"

# SPARC
SPARC-LAYSIM:
    stage: examples
    tags: ["SPARC","LAYSIM"]
    needs: ["RVS-SPARC-LAYSIM-build"]
    script:
        - TEST_DIR=$(if [[ "$EXAMPLE" == "paranoia" || "$EXAMPLE" == "smp01" || "$EXAMPLE" == "smp02" ]]; then echo "$AIR/examples/testsuites/$EXAMPLE"; else echo "$AIR/examples/$EXAMPLE"; fi)
        - cd $TEST_DIR
        - *build-executable
        - laysim-gr740-mmu-cli -batch $AIR/rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - make distclean -i
        - *check-and-publish
    timeout: 5 minutes
    parallel:
      matrix:
        - EXAMPLE:
            - "hello_world"
            - "bare_c"
            - "hm"
            - "ports"
            - "shm"
            - "paranoia"
            - "smp01"
            - "smp02"
            #- "math" 

