<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ARINC_653_Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ModuleName="GNSS">

  <!-- IOP Partition  -->  
  <Partition PartitionIdentifier="1" PartitionName="iop" 
    Criticality="LEVEL_A" EntryPoint="empty" SystemPartition="false">
    <Queuing_Port Name="QRECV_GNSS" Direction="DESTINATION" MaxMessageSize="65000" MaxNbMessages="10"/>
    <Queuing_Port Name="QSEND_GNSS" Direction="SOURCE" MaxMessageSize="65000" MaxNbMessages="10" />
    <PartitionConfiguration Personality="RTEMS5" IOP="iop.xml" Cores="1">
        <Libs>LIBAIR; LIBIOP</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x400000" />
        <Permissions>
          FPU_CONTROL; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 0  -->  
  <Partition PartitionIdentifier="2" PartitionName="part0" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <Queuing_Port Name="QRECV_IOP" Direction="DESTINATION" MaxMessageSize="65000" MaxNbMessages="10" />
    <Queuing_Port Name="QSEND_IOP" Direction="SOURCE" MaxMessageSize="65000" MaxNbMessages="10" />
    <PartitionConfiguration Personality="RTEMS5" Cores="4">
        <Libs>LIBAIR; IMASPEX</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x9000000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>


  <!-- Schedule 1 -->
  <Module_Schedule ScheduleIdentifier="1" ScheduleName="schedule"
    InitialModuleSchedule="true" MajorFrameSeconds="0.1">

    <Partition_Schedule PartitionIdentifier="1" PartitionName="iop" 
      PeriodDurationSeconds="0.015" PeriodSeconds="0.1">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.015" WindowStartSeconds="0.0"/>
      <WindowConfiguration WindowIdentifier="1" Cores="0" />
    </Partition_Schedule>

    <Partition_Schedule PartitionIdentifier="2" PartitionName="part0" 
      PeriodDurationSeconds="0.085" PeriodSeconds="0.1">
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.085"  WindowStartSeconds="0.015" />
      <WindowConfiguration WindowIdentifier="2" Cores="0;1;2;3" />
    </Partition_Schedule>

  </Module_Schedule>

    <!-- Connection table  -->
  <Connection_Table>
    <Channel ChannelIdentifier="1" ChannelName="GNSS_IOP">
      <Source>
        <Standard_Partition PartitionIdentifier="2" PartitionName="part0" 
          PortName="QSEND_IOP"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="1" PartitionName="iop" 
          PortName="QRECV_GNSS"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="2" ChannelName="IOP_GNSS">
      <Source>
        <Standard_Partition PartitionIdentifier="1" PartitionName="iop" 
          PortName="QSEND_GNSS"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="2" PartitionName="part0" 
          PortName="QRECV_IOP"/>
      </Destination>
    </Channel>
  </Connection_Table>

  <!-- Module configuration -->
  <AIR_Configuration TicksPerSecond="1000" RequiredCores="4"/>
</ARINC_653_Module>
