<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ARINC_653_Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ModuleName="scenario">

  <!-- Partition 0 IO -->  
  <Partition PartitionIdentifier="1" PartitionName="p0" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 1 Mission manager -->  
  <Partition PartitionIdentifier="2" PartitionName="p1" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 2 Thermal Control -->  
  <Partition PartitionIdentifier="3" PartitionName="p2" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 3 Power Control -->  
  <Partition PartitionIdentifier="4" PartitionName="p3" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>
  
    <!-- Partition 4 AOCS -->  
  <Partition PartitionIdentifier="5" PartitionName="p4" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>
  
    <!-- Partition 5 Payload -->  
  <Partition PartitionIdentifier="6" PartitionName="p5" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Schedule 1 -->
  <Module_Schedule ScheduleIdentifier="1" ScheduleName="schedule"
    InitialModuleSchedule="true" MajorFrameSeconds="0.25">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="p0" 
      PeriodDurationSeconds="0.25" PeriodSeconds="0.25">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.25"  WindowStartSeconds="0.0" />
      <WindowConfiguration WindowIdentifier="1" Cores="0" />
    </Partition_Schedule>

    <Partition_Schedule PartitionIdentifier="2" PartitionName="p1" 
      PeriodDurationSeconds="0.025" PeriodSeconds="0.25">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.025"  WindowStartSeconds="0.0" />
      <WindowConfiguration WindowIdentifier="1" Cores="1" />
    </Partition_Schedule>

    <Partition_Schedule PartitionIdentifier="3" PartitionName="p2" 
      PeriodDurationSeconds="0.075" PeriodSeconds="0.25">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.05"  WindowStartSeconds="0.025" />
      <WindowConfiguration WindowIdentifier="1" Cores="1" />
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="false" 
          WindowDurationSeconds="0.025"  WindowStartSeconds="0.15" />
      <WindowConfiguration WindowIdentifier="2" Cores="1" />
    </Partition_Schedule>

    <Partition_Schedule PartitionIdentifier="4" PartitionName="p3" 
      PeriodDurationSeconds="0.05" PeriodSeconds="0.25">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.05"  WindowStartSeconds="0.075" />
      <WindowConfiguration WindowIdentifier="1" Cores="1" />
    </Partition_Schedule>

    <Partition_Schedule PartitionIdentifier="5" PartitionName="p4" 
      PeriodDurationSeconds="0.025" PeriodSeconds="0.25">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.025"  WindowStartSeconds="0.125" />
      <WindowConfiguration WindowIdentifier="1" Cores="1" />
    </Partition_Schedule>

    <Partition_Schedule PartitionIdentifier="6" PartitionName="p5" 
      PeriodDurationSeconds="0.075" PeriodSeconds="0.25">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.075"  WindowStartSeconds="0.175" />
      <WindowConfiguration WindowIdentifier="1" Cores="1" />
    </Partition_Schedule>
  </Module_Schedule>

  <!-- Module configuration -->
  <AIR_Configuration TicksPerSecond="200" RequiredCores="2"/>
</ARINC_653_Module>
