<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Copyright (C) 2018  GMVIS Skysoft S.A.

  The license and distribution terms for this file may be
  found in the file LICENSE in this distribution or at
  air/LICENSE
-->
<ARINC_653_Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ModuleName="bare">

  <!-- Partition 0  -->  
  <Partition PartitionIdentifier="1" PartitionName="p0" 
    Criticality="LEVEL_A" EntryPoint="main" SystemPartition="false">
    <PartitionConfiguration Personality="POSIXRTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x400000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>     
  </Partition>


  <!-- Schedule 1 -->
  <Module_Schedule ScheduleIdentifier="1" ScheduleName="test_sched"
    InitialModuleSchedule="true" MajorFrameSeconds="1.0">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="p0" 
      PeriodDurationSeconds="1.0" PeriodSeconds="1.0">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="1.0"  WindowStartSeconds="0.0"/>
    </Partition_Schedule>
  </Module_Schedule>

  
  <!-- Module configuration -->
  <AIR_Configuration TicksPerSecond="200" RequiredCores="1"/>
</ARINC_653_Module>
