<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ARINC_653_Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ModuleName="bare">

  <!-- Partition 0  -->  
  <Partition PartitionIdentifier="1" PartitionName="part0" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS48I" Cores="1" Mode="source">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>
  <!-- Partition 1  -->  
  <Partition PartitionIdentifier="2" PartitionName="part1" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>
  <Partition PartitionIdentifier="3" PartitionName="part2" 
    Criticality="LEVEL_A" EntryPoint="entry_point" SystemPartition="false">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
        <Libs>LIBAIR; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x100000" />
        <Permissions>
          FPU_CONTROL; GLOBAL_TIME; CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>
  <!-- Schedule 1 -->
  <Module_Schedule ScheduleIdentifier="1" ScheduleName="test_sched"
    InitialModuleSchedule="true" MajorFrameSeconds="1.0">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="part0" 
      PeriodDurationSeconds="0.3" PeriodSeconds="1.0">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.3"  WindowStartSeconds="0.0" />
      <WindowConfiguration WindowIdentifier="1" Cores="0" />
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="2" PartitionName="part1" 
      PeriodDurationSeconds="0.3" PeriodSeconds="1.0">
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.3"  WindowStartSeconds="0.3" />
      <WindowConfiguration WindowIdentifier="2" Cores="1" />
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="3" PartitionName="part2" 
      PeriodDurationSeconds="0.3" PeriodSeconds="1.0">
      <Window_Schedule WindowIdentifier="3" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.3"  WindowStartSeconds="0.6" />
      <WindowConfiguration WindowIdentifier="3" Cores="2" />
    </Partition_Schedule>
  </Module_Schedule>

  <!-- Module configuration -->
  <AIR_Configuration TicksPerSecond="500" RequiredCores="3"/>
</ARINC_653_Module>
