<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ARINC_653_Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ModuleName="iop_example">

  <!-- Partition 2  -->  
  <Partition PartitionIdentifier="2" PartitionName="iop" 
    Criticality="LEVEL_A" EntryPoint="empty" SystemPartition="false">
    <Sampling_Port Name="iop_sender"
      Direction="SOURCE" MaxMessageSize="8" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="iop_receiver"
      Direction="DESTINATION" MaxMessageSize="8" RefreshRateSeconds="1.0"/>
    <PartitionConfiguration Personality="RTEMS" IOP="iop.xml" Cores="1">
        <Libs>LIBAIR; LIBIOP; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x400000" />
        <Permissions>
          CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>     
  </Partition>

  <!-- Partition 1 -->
  <Partition PartitionIdentifier="1" PartitionName="partition1"
    Criticality="LEVEL_A" EntryPoint="entry_func" SystemPartition="false">
    <Sampling_Port Name="partition_receiver" 
      Direction="DESTINATION" MaxMessageSize="8" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="partition_sender" 
      Direction="SOURCE" MaxMessageSize="8" RefreshRateSeconds="1.0"/>
    <PartitionConfiguration Personality="RTEMS" Cores="1">
        <Libs>LIBAIR; IMASPEX; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x400000" />
        <Permissions>
            CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>
  
  <!-- Schedule 1 -->
  <Module_Schedule ScheduleIdentifier="1" ScheduleName="schedule"
    InitialModuleSchedule="true" MajorFrameSeconds="1.0">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="partition1" 
      PeriodDurationSeconds="0.5" PeriodSeconds="1.0">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.5"  WindowStartSeconds="0.0"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="2" PartitionName="iop" 
      PeriodDurationSeconds="0.5" PeriodSeconds="1.0">
      <Window_Schedule WindowIdentifier="3" PartitionPeriodStart="true" 
        WindowDurationSeconds="0.5" WindowStartSeconds="0.5"/>
    </Partition_Schedule>
  </Module_Schedule>

    <!-- Connection table  -->
  <Connection_Table>
    <Channel ChannelIdentifier="1" ChannelName="MessageIn">
      <Source>
        <Standard_Partition PartitionIdentifier="1" PartitionName="partition1" 
          PortName="partition_sender"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="2" PartitionName="iop" 
          PortName="iop_receiver"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="2" ChannelName="MessageOut">
    	<Source>
	      <Standard_Partition PartitionIdentifier="2" PartitionName="iop" 
	    	PortName="iop_sender"/>
    	</Source>
    	<Destination>
    	  <Standard_Partition PartitionIdentifier="1" PartitionName="partition1"
    		PortName="partition_receiver"/>
    	</Destination>
    </Channel>
    
  </Connection_Table>
  
  <!-- Module configuration -->
  <AIR_Configuration TicksPerSecond="1000" RequiredCores="1"/>
</ARINC_653_Module>
