<?xml version="1.0" encoding="UTF-8"?> 
<ARINC_653_Module ModuleName="bare">

  <System_HM_Table>
    <System_State_Entry Description="Module Initialization" SystemState="0">
      <Error_ID_Level Description="Configuration Error" ErrorIdentifier="1" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Module Config Error" ErrorIdentifier="2" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="5" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="7" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="8" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="9" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="10" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="12" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="14" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="15" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="16" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Double Fault" ErrorIdentifier="17" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Violation Error" ErrorIdentifier="18" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Device Error" ErrorIdentifier="19" ErrorLevel="MODULE"/>
    </System_State_Entry>
    <System_State_Entry Description="PMK Execution" SystemState="1">
      <Error_ID_Level Description="Configuration Error" ErrorIdentifier="1" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Module Config Error" ErrorIdentifier="2" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="5" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="7" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="8" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="9" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="10" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="12" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="14" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="15" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="16" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Double Fault" ErrorIdentifier="17" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Violation Error" ErrorIdentifier="18" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Device Error" ErrorIdentifier="19" ErrorLevel="MODULE"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Initialization" SystemState="2">
      <Error_ID_Level Description="Partition Conf Error" ErrorIdentifier="3" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Partition Init Error" ErrorIdentifier="4" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="5" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="7" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="8" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="9" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="10" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="12" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="14" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="15" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="16" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Double Fault" ErrorIdentifier="17" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Violation Error" ErrorIdentifier="18" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Device Error" ErrorIdentifier="19" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="APEX Error" ErrorIdentifier="20" ErrorLevel="PARTITION"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Operating System" SystemState="3">
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="5" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Deadline Miss" ErrorIdentifier="6" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="7" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="8" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="9" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="10" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="12" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="App Hardware Error" ErrorIdentifier="13" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="14" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="15" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="16" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Double Fault" ErrorIdentifier="17" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Violation Error" ErrorIdentifier="18" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Device Error" ErrorIdentifier="19" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="APEX Error" ErrorIdentifier="20" ErrorLevel="PARTITION"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Application" SystemState="4">
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="5" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Deadline Miss" ErrorIdentifier="6" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="7" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="8" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="9" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="10" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Application Error" ErrorIdentifier="11" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="12" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="App Hardware Error" ErrorIdentifier="13" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="14" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="15" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="16" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Double Fault" ErrorIdentifier="17" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Violation Error" ErrorIdentifier="18" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="Device Error" ErrorIdentifier="19" ErrorLevel="PARTITION"/>
      <Error_ID_Level Description="APEX Error" ErrorIdentifier="20" ErrorLevel="PARTITION"/>
    </System_State_Entry>
    <System_State_Entry Description="Health Monitor Processing" SystemState="6">
      <Error_ID_Level Description="Segmentation Error" ErrorIdentifier="5" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Illegal Instruction" ErrorIdentifier="7" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Divide by zero" ErrorIdentifier="8" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Overflow Error" ErrorIdentifier="9" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Floating Point Error" ErrorIdentifier="10" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Stack error" ErrorIdentifier="12" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Power Interrupt" ErrorIdentifier="14" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Debug Error" ErrorIdentifier="15" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="I/O Error" ErrorIdentifier="16" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Double Fault" ErrorIdentifier="17" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Violation Error" ErrorIdentifier="18" ErrorLevel="MODULE"/>
      <Error_ID_Level Description="Device Error" ErrorIdentifier="19" ErrorLevel="MODULE"/>
    </System_State_Entry>
  </System_HM_Table>
  <Module_HM_Table>
    <System_State_Entry Description="Module Initialization" SystemState="0">
      <Error_ID_Action Action="SHUTDOWN" Description="Configuration Error" ErrorIdentifier="1"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Module Config Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="IGNORE" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="SHUTDOWN" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Device Error" ErrorIdentifier="19"/>
    </System_State_Entry>
    <System_State_Entry Description="PMK Execution" SystemState="1">
      <Error_ID_Action Action="IGNORE" Description="Configuration Error" ErrorIdentifier="1"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Module Config Error" ErrorIdentifier="2"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="SHUTDOWN" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Device Error" ErrorIdentifier="19"/>
    </System_State_Entry>
    <System_State_Entry Description="Health Monitor Processing" SystemState="6">
      <Error_ID_Action Action="SHUTDOWN" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="SHUTDOWN" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="SHUTDOWN" Description="Device Error" ErrorIdentifier="19"/>
    </System_State_Entry>
  </Module_HM_Table>
	
	
  <!-- partition producer 0-->
  <Partition PartitionIdentifier="1" PartitionName="p0" Criticality="LEVEL_A" SystemPartition="true" EntryPoint="producer">
    <Sampling_Port Direction="SOURCE" MaxMessageSize="32" Name="SEND_SAMP1" RefreshRateSeconds="1.000"/>
    <Sampling_Port Direction="DESTINATION" MaxMessageSize="32" Name="RECV_SAMP1" RefreshRateSeconds="1.000"/>
    <PartitionConfiguration Personality="RTEMS" Cores="1" Mode="binary">
      <Libs>LIBAIR;IMASPEX;LIBPRINTF</Libs>
      <Cache>CODE; DATA</Cache>
      <Memory Size="0x500000" />
      <Permissions>
       CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
      </Permissions>
    </PartitionConfiguration>         
  </Partition>

  <!-- partition receiver 1 -->
  <Partition PartitionIdentifier="2" PartitionName="p1" Criticality="LEVEL_A" SystemPartition="true" EntryPoint="receiver">
    <Sampling_Port Direction="SOURCE" MaxMessageSize="32" Name="SEND_SAMP2" RefreshRateSeconds="1.000"/>
    <Sampling_Port Direction="DESTINATION" MaxMessageSize="32" Name="RECV_SAMP2" RefreshRateSeconds="1.000"/>
    <PartitionConfiguration Personality="RTEMS" Cores="1" Mode="binary">
      <Libs>LIBAIR; IMASPEX; LIBPRINTF</Libs>
      <Cache>CODE; DATA</Cache>
      <Memory Size="0x500000" />
      <Permissions>
       CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
      </Permissions>
    </PartitionConfiguration>         
  </Partition>
  
	<Module_Schedule  ScheduleIdentifier="1" ScheduleName="test_sched" InitialModuleSchedule="true" MajorFrameSeconds="2.000">
		<Partition_Schedule PartitionIdentifier="1" PartitionName="p0" PeriodSeconds="2.000" PeriodDurationSeconds="1.000">
			<Window_Schedule WindowIdentifier="101" WindowStartSeconds="0.0" WindowDurationSeconds="1.000" PartitionPeriodStart="true" />
			<WindowConfiguration WindowIdentifier="101" Cores="0" />
		</Partition_Schedule>
		<Partition_Schedule PartitionIdentifier="2" PartitionName="p1" PeriodSeconds="2.000" PeriodDurationSeconds="1.000">
			<Window_Schedule WindowIdentifier="201" WindowStartSeconds="1.0" WindowDurationSeconds="1.000" PartitionPeriodStart="true" />
			<WindowConfiguration WindowIdentifier="201" Cores="1" />
		</Partition_Schedule>
	</Module_Schedule>
  
    <Connection_Table>
    <Channel ChannelIdentifier="1" ChannelName="SAMPLING1">
      <Source>
        <Standard_Partition PartitionIdentifier="1" PartitionName="p0" PortName="SEND_SAMP1"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="2" PartitionName="p1" PortName="RECV_SAMP2"/>
      </Destination>
    </Channel>
    
    <Channel ChannelIdentifier="1" ChannelName="SAMPLING2">
      <Source>
        <Standard_Partition PartitionIdentifier="2" PartitionName="p1" PortName="SEND_SAMP2"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="1" PartitionName="p0" PortName="RECV_SAMP1"/>
      </Destination>
    </Channel>
    </Connection_Table>  

  <Partition_HM_Table PartitionIdentifier="1" PartitionName="p0">
    <System_State_Entry Description="Partition Initialization" SystemState="2">
      <Error_ID_Action Action="IDLE" Description="Partition Conf Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IDLE" Description="Partition Init Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="COLD_START" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="COLD_START" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="WARM_START" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="COLD_START" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="WARM_START" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="WARM_START" Description="Device Error" ErrorIdentifier="19"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="20"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Operating System" SystemState="3">
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="WARM_START" Description="Deadline Miss" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="COLD_START" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="COLD_START" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="WARM_START" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="COLD_START" Description="App Hardware Error" ErrorIdentifier="13"/>
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="COLD_START" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="WARM_START" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="WARM_START" Description="Device Error" ErrorIdentifier="19"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="20"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Application" SystemState="4">
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="WARM_START" Description="Deadline Miss" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="WARM_START" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="WARM_START" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="WARM_START" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="COLD_START" Description="Application Error" ErrorIdentifier="11"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="COLD_START" Description="App Hardware Error" ErrorIdentifier="13"/>
      <Error_ID_Action Action="COLD_START" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="WARM_START" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="WARM_START" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="WARM_START" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="WARM_START" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="IDLE" Description="Device Error" ErrorIdentifier="19"/>
      <Error_ID_Action Action="IDLE" Description="APEX Error" ErrorIdentifier="20"/>
    </System_State_Entry>
  </Partition_HM_Table>
  <Partition_HM_Table PartitionCallback="partition_HM_callback" PartitionIdentifier="2" PartitionName="p1">
    <System_State_Entry Description="Partition Initialization" SystemState="2">
      <Error_ID_Action Action="IDLE" Description="Partition Conf Error" ErrorIdentifier="3"/>
      <Error_ID_Action Action="IDLE" Description="Partition Init Error" ErrorIdentifier="4"/>
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="COLD_START" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="COLD_START" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="WARM_START" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="COLD_START" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="WARM_START" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="WARM_START" Description="Device Error" ErrorIdentifier="19"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="20"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Operating System" SystemState="3">
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="WARM_START" Description="Deadline Miss" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="COLD_START" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="COLD_START" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="WARM_START" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="COLD_START" Description="App Hardware Error" ErrorIdentifier="13"/>
      <Error_ID_Action Action="IGNORE" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="IGNORE" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="COLD_START" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="COLD_START" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="WARM_START" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="WARM_START" Description="Device Error" ErrorIdentifier="19"/>
      <Error_ID_Action Action="WARM_START" Description="APEX Error" ErrorIdentifier="20"/>
    </System_State_Entry>
    <System_State_Entry Description="Partition Application" SystemState="4">
      <Error_ID_Action Action="COLD_START" Description="Segmentation Error" ErrorIdentifier="5"/>
      <Error_ID_Action Action="WARM_START" Description="Deadline Miss" ErrorIdentifier="6"/>
      <Error_ID_Action Action="COLD_START" Description="Illegal Instruction" ErrorIdentifier="7"/>
      <Error_ID_Action Action="WARM_START" Description="Divide by zero" ErrorIdentifier="8"/>
      <Error_ID_Action Action="WARM_START" Description="Overflow Error" ErrorIdentifier="9"/>
      <Error_ID_Action Action="WARM_START" Description="Floating Point Error" ErrorIdentifier="10"/>
      <Error_ID_Action Action="COLD_START" Description="Application Error" ErrorIdentifier="11"/>
      <Error_ID_Action Action="COLD_START" Description="Stack error" ErrorIdentifier="12"/>
      <Error_ID_Action Action="COLD_START" Description="App Hardware Error" ErrorIdentifier="13"/>
      <Error_ID_Action Action="COLD_START" Description="Power Interrupt" ErrorIdentifier="14"/>
      <Error_ID_Action Action="WARM_START" Description="Debug Error" ErrorIdentifier="15"/>
      <Error_ID_Action Action="WARM_START" Description="I/O Error" ErrorIdentifier="16"/>
      <Error_ID_Action Action="WARM_START" Description="Double Fault" ErrorIdentifier="17"/>
      <Error_ID_Action Action="WARM_START" Description="Violation Error" ErrorIdentifier="18"/>
      <Error_ID_Action Action="IDLE" Description="Device Error" ErrorIdentifier="19"/>
      <Error_ID_Action Action="IDLE" Description="APEX Error" ErrorIdentifier="20"/>
    </System_State_Entry>
  </Partition_HM_Table>
	 
	 
  <AIR_Configuration TicksPerSecond="1000" RequiredCores="2"/>
  
</ARINC_653_Module>


