<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ARINC_653_Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ModuleName="INFANTE">

  <!-- Partition 1 -->
  <Partition PartitionIdentifier="1" PartitionName="S" Criticality="LEVEL_A" EntryPoint="entry_func" SystemPartition="true">
    <Queuing_Port Name="s_iop_rcv" Direction="DESTINATION" MaxMessageSize="8" MaxNbMessages="32"/>
    <Queuing_Port Name="s_iop_send" Direction="SOURCE" MaxMessageSize="8" MaxNbMessages="64"/>
    <Sampling_Port Name="s_aero_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="s_aero_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="s_nano_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="s_nano_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="s_magn_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="s_magn_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <PartitionConfiguration Personality="bare" Cores="1">
      <Libs>LIBAIR; IMASPEX; LIBPRINTF</Libs>
      <Cache>CODE; DATA</Cache>
      <Memory Size="0x400000"/>
      <Permissions>
        FPU_CONTROL; CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
      </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 2 -->  
  <Partition PartitionIdentifier="2" PartitionName="IOP" Criticality="LEVEL_B" EntryPoint="empty" SystemPartition="true">
    <Queuing_Port Name="iop_s_rcv" Direction="DESTINATION" MaxMessageSize="8" MaxNbMessages="64"/>
    <Queuing_Port Name="iop_s_send" Direction="SOURCE" MaxMessageSize="8" MaxNbMessages="32"/>
    <Sampling_Port Name="iop_aero_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Queuing_Port Name="iop_aero_send" Direction="SOURCE" MaxMessageSize="128" MaxNbMessages="32"/>
    <Sampling_Port Name="iop_nano_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Queuing_Port Name="iop_nano_send" Direction="SOURCE" MaxMessageSize="128" MaxNbMessages="32"/>
    <Sampling_Port Name="iop_magn_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Queuing_Port Name="iop_magn_send" Direction="SOURCE" MaxMessageSize="128" MaxNbMessages="32"/>
    <PartitionConfiguration Personality="bare" IOP="iop.xml" Cores="1">
      <Libs>LIBIOP</Libs>
      <Devices></Devices>
      <Cache>CODE; DATA</Cache>
      <Memory Size="0x400000"/>
      <Permissions>
        SUPERVISOR;
      </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 3 -->
  <Partition PartitionIdentifier="3" PartitionName="AEROGEL" Criticality="LEVEL_C" EntryPoint="entry_func" SystemPartition="false">
    <Sampling_Port Name="aero_s_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="aero_s_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Queuing_Port Name="aero_iop_rcv" Direction="DESTINATION" MaxMessageSize="128" MaxNbMessages="32"/>
    <Sampling_Port Name="aero_iop_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <PartitionConfiguration Personality="bare" Cores="1">
        <Libs>LIBAIR; IMASPEX; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x400000"/>
        <Permissions>
          FPU_CONTROL; CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 4 -->
  <Partition PartitionIdentifier="4" PartitionName="NANOCOATING" Criticality="LEVEL_C" EntryPoint="entry_func" SystemPartition="false">
    <Sampling_Port Name="nano_s_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="nano_s_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Queuing_Port Name="nano_iop_rcv" Direction="DESTINATION" MaxMessageSize="128" MaxNbMessages="32"/>
    <Sampling_Port Name="nano_iop_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <PartitionConfiguration Personality="bare" Cores="1">
        <Libs>LIBAIR; IMASPEX; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x400000"/>
        <Permissions>
          FPU_CONTROL; CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Partition 5 -->
  <Partition PartitionIdentifier="5" PartitionName="MAGNETOMETER" Criticality="LEVEL_C" EntryPoint="entry_func" SystemPartition="false">
    <Sampling_Port Name="magn_s_rcv" Direction="DESTINATION" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Sampling_Port Name="magn_s_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <Queuing_Port Name="magn_iop_rcv" Direction="DESTINATION" MaxMessageSize="128" MaxNbMessages="32"/>
    <Sampling_Port Name="magn_iop_send" Direction="SOURCE" MaxMessageSize="128" RefreshRateSeconds="1.0"/>
    <PartitionConfiguration Personality="bare" Cores="1">
        <Libs>LIBAIR; IMASPEX; LIBPRINTF</Libs>
        <Devices></Devices>
        <Cache>CODE; DATA</Cache>
        <Memory Size="0x400000"/>
        <Permissions>
          FPU_CONTROL; CACHE_CONTROL; GLOBAL_TIME; SET_TOD; SET_PARTITION_MODE;
        </Permissions>
    </PartitionConfiguration>
  </Partition>

  <!-- Schedule 1 -->
  <Module_Schedule ScheduleIdentifier="1" ScheduleName="idle_sched" InitialModuleSchedule="true" MajorFrameSeconds="0.2">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="S" PeriodDurationSeconds="0.1" PeriodSeconds="0.2">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" WindowDurationSeconds="0.1"  WindowStartSeconds="0.0"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="2" PartitionName="IOP" PeriodDurationSeconds="0.1" PeriodSeconds="0.2">
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="true" WindowDurationSeconds="0.1" WindowStartSeconds="0.1"/>
    </Partition_Schedule>
  </Module_Schedule>

  <!-- Schedule 2 -->
  <Module_Schedule ScheduleIdentifier="2" ScheduleName="aerogel_sched" InitialModuleSchedule="false" MajorFrameSeconds="30">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="S" PeriodDurationSeconds="0.1" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" WindowDurationSeconds="0.1"  WindowStartSeconds="0.0"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="2" PartitionName="IOP" PeriodDurationSeconds="14.9" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="true" WindowDurationSeconds="14.9" WindowStartSeconds="0.1"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="3" PartitionName="AEROGEL" PeriodDurationSeconds="15" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="3" PartitionPeriodStart="true" WindowDurationSeconds="15" WindowStartSeconds="15"/>
    </Partition_Schedule>
  </Module_Schedule>

  <!-- Schedule 3 -->
  <Module_Schedule ScheduleIdentifier="3" ScheduleName="nanocoating_sched" InitialModuleSchedule="false" MajorFrameSeconds="30">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="S" PeriodDurationSeconds="0.1" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" WindowDurationSeconds="0.1"  WindowStartSeconds="0.0"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="2" PartitionName="IOP" PeriodDurationSeconds="14.9" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="true" WindowDurationSeconds="14.9" WindowStartSeconds="0.1"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="4" PartitionName="NANOCOATING" PeriodDurationSeconds="15" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="3" PartitionPeriodStart="true" WindowDurationSeconds="15" WindowStartSeconds="15"/>
    </Partition_Schedule>
  </Module_Schedule>

  <!-- Schedule 4 -->
  <Module_Schedule ScheduleIdentifier="4" ScheduleName="magnetometer_sched" InitialModuleSchedule="false" MajorFrameSeconds="30">
    <Partition_Schedule PartitionIdentifier="1" PartitionName="S" PeriodDurationSeconds="0.1" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="1" PartitionPeriodStart="true" WindowDurationSeconds="0.1"  WindowStartSeconds="0.0"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="2" PartitionName="IOP" PeriodDurationSeconds="14.9" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="2" PartitionPeriodStart="true" WindowDurationSeconds="14.9" WindowStartSeconds="0.1"/>
    </Partition_Schedule>
    <Partition_Schedule PartitionIdentifier="5" PartitionName="MAGNETOMETER" PeriodDurationSeconds="15" PeriodSeconds="30">
      <Window_Schedule WindowIdentifier="3" PartitionPeriodStart="true" WindowDurationSeconds="15" WindowStartSeconds="15"/>
    </Partition_Schedule>
  </Module_Schedule> 

  <!-- Connection table -->
  <Connection_Table>
    <Channel ChannelIdentifier="1" ChannelName="s_iop_send_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="1" PartitionName="S" PortName="s_iop_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="2" PartitionName="IOP" PortName="iop_s_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="2" ChannelName="s_iop_rcv_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="2" PartitionName="IOP" PortName="iop_s_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="1" PartitionName="S" PortName="s_iop_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="3" ChannelName="aero_iop_send_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="3" PartitionName="AEROGEL" PortName="aero_iop_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="2" PartitionName="IOP" PortName="iop_aero_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="4" ChannelName="aero_iop_rcv_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="2" PartitionName="IOP" PortName="iop_aero_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="3" PartitionName="AEROGEL" PortName="aero_iop_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="5" ChannelName="nano_iop_send_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="4" PartitionName="NANOCOATING" PortName="nano_iop_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="2" PartitionName="IOP" PortName="iop_nano_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="6" ChannelName="nano_iop_rcv_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="2" PartitionName="IOP" PortName="iop_nano_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="4" PartitionName="NANOCOATING" PortName="nano_iop_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="7" ChannelName="magn_iop_send_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="5" PartitionName="MAGNETOMETER" PortName="magn_iop_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="2" PartitionName="IOP" PortName="iop_magn_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="8" ChannelName="magn_iop_rcv_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="2" PartitionName="IOP" PortName="iop_magn_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="5" PartitionName="MAGNETOMETER" PortName="magn_iop_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="9" ChannelName="aero_s_rcv_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="1" PartitionName="S" PortName="s_aero_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="3" PartitionName="AEROGEL" PortName="aero_s_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="10" ChannelName="aero_s_send_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="3" PartitionName="AEROGEL" PortName="aero_s_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="1" PartitionName="S" PortName="s_aero_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="11" ChannelName="nano_s_rcv_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="1" PartitionName="S" PortName="s_nano_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="4" PartitionName="NANOCOATING" PortName="nano_s_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="12" ChannelName="nano_s_send_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="4" PartitionName="NANOCOATING" PortName="nano_s_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="1" PartitionName="S" PortName="s_nano_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="13" ChannelName="magn_s_rcv_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="1" PartitionName="S" PortName="s_magn_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="5" PartitionName="MAGNETOMETER" PortName="magn_s_rcv"/>
      </Destination>
    </Channel>
    <Channel ChannelIdentifier="14" ChannelName="magn_s_send_channel">
      <Source>
        <Standard_Partition PartitionIdentifier="5" PartitionName="MAGNETOMETER" PortName="magn_s_send"/>
      </Source>
      <Destination>
        <Standard_Partition PartitionIdentifier="1" PartitionName="S" PortName="s_magn_rcv"/>
      </Destination>
    </Channel>
  </Connection_Table>

  <!-- Module configuration -->
  <AIR_Configuration TicksPerSecond="1000" RequiredCores="1"/>

</ARINC_653_Module>
