<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2008-2020  GMVIS Skysoft S.A.

  The license and distribution terms for this file may be
  found in the file LICENSE in this distribution or at
  air/LICENSE
-->
<ARINC_653_Module ModuleName="periodic">


  <!-- partition 0-->
  <Partition PartitionIdentifier="1" PartitionName="p0" Criticality="LEVEL_A" SystemPartition="true" EntryPoint="producer">
    <PartitionConfiguration Personality="RTEMS5" Cores="1">
      <Libs>LIBAIR;IMASPEX;LIBPRINTF</Libs>
      <Cache>CODE; DATA</Cache>
      <Memory Size="0x500000" />
      <Permissions>
       CACHE_CONTROL; SET_TOD; SET_PARTITION_MODE;
      </Permissions>
    </PartitionConfiguration>
  </Partition>

    <Module_Schedule  ScheduleIdentifier="1" ScheduleName="test_sched" InitialModuleSchedule="true" MajorFrameSeconds="2.000">
        <Partition_Schedule PartitionIdentifier="1" PartitionName="p0" PeriodSeconds="2.000" PeriodDurationSeconds="1.000">
            <Window_Schedule WindowIdentifier="101" WindowStartSeconds="0.0" WindowDurationSeconds="1.000" PartitionPeriodStart="true" />
            <WindowConfiguration WindowIdentifier="101" Cores="0" />
        </Partition_Schedule>
    </Module_Schedule>

  <AIR_Configuration TicksPerSecond="1000" RequiredCores="1"/>

</ARINC_653_Module>


