# Gitlab CICD script for report stage
# Author huca@GMV 2023

SPARC-report-export:
    stage: report
    tags:
        - SPARC
        - RVS
        - sparc-taste-debian1
    #needs: ["SPARC-LAYSIM-TEST-DEF-00009","SPARC-LAYSIM-TEST-DEF-00010","SPARC-LAYSIM-TEST-DEF-00012","SPARC-LAYSIM-TEST-DEF-00021","SPARC-LAYSIM-TEST-DEF-00022","SPARC-LAYSIM-TEST-DEF-00023","SPARC-LAYSIM-TEST-DEF-00500","SPARC-LAYSIM-TEST-DEF-00510","SPARC-LAYSIM-TEST-DEF-00540","SPARC-LAYSIM-TEST-DEF-00560","SPARC-LAYSIM-TEST-DEF-00600","SPARC-LAYSIM-TEST-DEF-01390","SPARC-LAYSIM-TEST-DEF-01570","SPARC-LAYSIM-TEST-DEF-01590","SPARC-LAYSIM-TEST-DEF-01610","SPARC-LAYSIM-TEST-DEF-01650","SPARC-LAYSIM-TEST-DEF-01730","SPARC-LAYSIM-TEST-DEF-01740","SPARC-LAYSIM-TEST-DEF-01741","SPARC-LAYSIM-TEST-DEF-01750","SPARC-LAYSIM-TEST-DEF-02100","SPARC-LAYSIM-TEST-DEF-80000","SPARC-LAYSIM-TEST-DEF-80010","SPARC-LAYSIM-TEST-DEF-80060","SPARC-LAYSIM-TEST-DEF-80080","SPARC-LAYSIM-TEST-DEF-80300","SPARC-LAYSIM-TEST-DEF-80400","SPARC-LAYSIM-TEST-DEF-80401","SPARC-LAYSIM-TEST-DEF-80420"]
    script:
        - $UTILS/check_central_server.bash
        - rvsdriver --project $AIR/air.rvsprj --integration sparc-gr740-pmk-coverage --report --export
        - mv $AIR/rvs_air/results/air-coverage.rvd $AIR/rvs_air/results/air-sparc-coverage.rvd
        - rsync -avrhq ../* $CI_PROJECT_DIR/
    artifacts:
        name: "$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA-SPARC"
        paths:
            - $CI_PROJECT_DIR/air/rvs_air/results/air-sparc-coverage.rvd
            - $CI_PROJECT_DIR/air/rvs_air/results/air-coverage-sparc-unmanaged-coverage-coverage.txt
            - $CI_PROJECT_DIR/air/rvs_air/results/air-coverage-sparc-unmanaged-coverage-coverage.html 
            - $CI_PROJECT_DIR/air/rvs_air/results/air-coverage-sparc-unmanaged-coverage-coverage_files/*
        expire_in: 1 week
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        - if: '$CI_PIPELINE_SOURCE == "schedule"'

ARM-report-export:
    stage: report
    tags:
        - ARM
        - ARM1
        - RVS
    #needs: ["ARM-QEMU-TEST-DEF-00023","ARM-QEMU-TEST-DEF-00500","ARM-QEMU-TEST-DEF-00510","ARM-QEMU-TEST-DEF-00600","ARM-QEMU-TEST-DEF-01390","ARM-QEMU-TEST-DEF-01620","ARM-QEMU-TEST-DEF-01630","ARM-QEMU-TEST-DEF-01650","ARM-QEMU-TEST-DEF-01730","ARM-QEMU-TEST-DEF-01740","ARM-QEMU-TEST-DEF-01750","ARM-QEMU-TEST-DEF-80060"]
    script:
        - $UTILS/check_central_server.bash
        - rvsdriver --project $AIR/air.rvsprj --integration arm-pmk-coverage --report --export
        - mv $AIR/rvs_air/results/air-coverage.rvd $AIR/rvs_air/results/air-arm-coverage.rvd
        - mv $AIR/rvs_air/results/air-coverage-sparc-unmanaged-coverage-coverage.txt $AIR/rvs_air/results/air-coverage-arm-unmanaged-coverage-coverage.txt
        - mv $AIR/rvs_air/results/air-coverage-sparc-unmanaged-coverage-coverage.html $AIR/rvs_air/results/air-coverage-arm-unmanaged-coverage-coverage.html
        - mv $AIR/rvs_air/results/air-coverage-sparc-unmanaged-coverage-coverage_files/ $AIR/rvs_air/results/air-coverage-arm-unmanaged-coverage-coverage_files/
        - rsync -avrhq ../* $CI_PROJECT_DIR/
    artifacts:
        name: "$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA-ARM"
        paths:
            - $CI_PROJECT_DIR/air/rvs_air/results/air-arm-coverage.rvd
            - $CI_PROJECT_DIR/air/rvs_air/results/air-coverage-arm-unmanaged-coverage-coverage.txt
            - $CI_PROJECT_DIR/air/rvs_air/results/air-coverage-arm-unmanaged-coverage-coverage.html
            - $CI_PROJECT_DIR/air/rvs_air/results/air-coverage-arm-unmanaged-coverage-coverage_files/*
        expire_in: 1 week
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        - if: '$CI_PIPELINE_SOURCE == "schedule"'

#RVS-merge-report :
#    stage : report 
#    tags :
#        - ARM
#        - ARM1
#   needs :
#       - ARM-report-export
#       - SPARC-report-export
#   script :
#       - rsync -avzrhq gitlab-runner@$(AIR_SPARC_1_IP):$AIR/rvs_air/results/ $AIR/rvs_air/results/
#       - rvdutils $AIR/rvs_air/results/air-arm-coverage.rvd --merge-coverage $AIR/rvs_air/results/air-sparc-coverage.rvd
#   artifacts:
#       name: "$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA-MERGE"
#       paths:
#           - $CI_PROJECT_DIR/air/rvs_air/results/air-arm-pmk-coverage-unmanaged-coverage.txt
#           - $CI_PROJECT_DIR/air/rvs_air/results/arm-pmk_coverage.htm
#           - $CI_PROJECT_DIR/air/rvs_air/results/arm-pmk_coverage_files/*
#       expire_in: 1 week
