# Gitlab CICD script for validation stage
# Author huca@GMV 2023

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable doens\'t exist." && exit 1; fi

.check-and-publish: &check-and-publish
    - $AIR/../utils/gitlab-runner/testcheck.py
    - $UTILS/publish_example.bash

# ARM
.ARM-QEMU-validation-template:
    stage : validation_tests
    needs : ["ARM-QEMU-hello_world","ARM-QEMU-bare_c"]
    tags :  ["ARM"]
    script : 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true
        - *check-and-publish
    rules:
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/' 
          when: never 
        - when: on_success

#00001_arm_zynqz1:
#    stage: examples
#    tags: 
#        - ARM
#    script:
#        - cd $AIR/examples/private-example/private/arm_unit_tests/lionel
#        - *build-executable
#        - $UTILS/runQemu.bash executable/AIRAPP.exe
#        - *check-and-publish

# ARM-QEMU-TEST-DEF-00009:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00010:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00012:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00021:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00022:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-00023:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-00023"

ARM-QEMU-TEST-DEF-00500:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-00500"

ARM-QEMU-TEST-DEF-00510:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-00510"

# ARM-QEMU-TEST-DEF-00540:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00560:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-00600:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-00600"

ARM-QEMU-TEST-DEF-01210:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01210"

ARM-QEMU-TEST-DEF-01390:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01390"

# ARM-QEMU-TEST-DEF-01570:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-01590:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-01610:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-01620:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01620"

ARM-QEMU-TEST-DEF-01630:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01630"

ARM-QEMU-TEST-DEF-01650:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01650"

ARM-QEMU-TEST-DEF-01730:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01730"

ARM-QEMU-TEST-DEF-01740:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01740"

ARM-QEMU-TEST-DEF-01741:
   extends : .ARM-QEMU-validation-template
   variables :
     EXAMPLE : "TEST-DEF-01741"

ARM-QEMU-TEST-DEF-01742:
   extends : .ARM-QEMU-validation-template
   variables :
     EXAMPLE : "TEST-DEF-01742"

ARM-QEMU-TEST-DEF-01750:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01750"

# ARM-QEMU-TEST-DEF-02100:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80000:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80010:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-80060:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-80060"

# ARM-QEMU-TEST-DEF-80080:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80300:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-80300"

# ARM-QEMU-TEST-DEF-80400:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80401:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80420:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# SPARC
.SPARC-LAYSIM-validation-template:
  stage : validation_tests
  needs : ["SPARC-LAYSIM-hello-world"] # ,"SPARC-LAYSIM-bare_c","SPARC-LAYSIM-hm","SPARC-LAYSIM-ports","SPARC-LAYSIM-shm","SPARC-LAYSIM-paranoia","SPARC-LAYSIM-smp01","SPARC-LAYSIM-smp02"]
  tags :  ["SPARC","LAYSIM"]
  script : 
        - echo "The value of TEST_NUMBER is $TEST_NUMBER"
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - laysim-gr740-mmu-cli -batch ../../../../../rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - make distclean -i # Ignore distclean errors
        - *check-and-publish
  variables:
        TEST_NUMBERS: "/00001|00009|00010|00012|00021|00022|00023|00500|00510|00540|00560|00600|01210|01390|01561|01570|01590|01610|01620|01630|01650|01730|01740|01741|01742|01750|02100|02101|02102|02105|02107|02108|80000|80010|80060|80080|80300|80400|80401|80420/"
        TEST_00001: "/00001/"
        TEST_00009: "/00009/"
        TEST_00010: "/00010/"
        TEST_00012: "/00012/"
        TEST_00021: "/00021/"
        TEST_00022: "/00022/"
        TEST_00023: "/00023/"
        TEST_00500: "/00500/"
        TEST_00510: "/00510/"
        TEST_00540: "/00540/"
        TEST_00560: "/00560/"
        TEST_00600: "/00600/"
        TEST_01210: "/01210/"
        TEST_01390: "/01390/"
        TEST_01561: "/01561/"
        TEST_01570: "/01570/"
        TEST_01590: "/01590/"
        TEST_01610: "/01610/"
        TEST_01620: "/01620/"
        TEST_01630: "/01630/"
        TEST_01650: "/01650/"
        TEST_01730: "/01730/"
        TEST_01740: "/01740/"
        TEST_01741: "/01741/"
        TEST_01742: "/01742/"
        TEST_01750: "/01750/"
        TEST_02100: "/02100/"
        TEST_02101: "/02101/"
        TEST_02102: "/02102/"
        TEST_02105: "/02105/"
        TEST_02107: "/02107/"
        TEST_02108: "/02108/"
        TEST_80000: "/80000/"
        TEST_80010: "/80010/"
        TEST_80060: "/80060/"
        TEST_80080: "/80080/"
        TEST_80300: "/80300/"
        TEST_80400: "/80400/"
        TEST_80401: "/80401/"
        TEST_80420: "/80420/"
  rules:
        - if: $CI_PIPELINE_SOURCE == "merge_request_event"
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00001 && $CI_JOB_NAME =~ $TEST_00001'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00009 && $CI_JOB_NAME =~ $TEST_00009'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00010 && $CI_JOB_NAME =~ $TEST_00010'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00012 && $CI_JOB_NAME =~ $TEST_00012'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00021 && $CI_JOB_NAME =~ $TEST_00021'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00022 && $CI_JOB_NAME =~ $TEST_00022'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00023 && $CI_JOB_NAME =~ $TEST_00023'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00500 && $CI_JOB_NAME =~ $TEST_00500'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00510 && $CI_JOB_NAME =~ $TEST_00510'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00540 && $CI_JOB_NAME =~ $TEST_00540'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00560 && $CI_JOB_NAME =~ $TEST_00560'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_00600 && $CI_JOB_NAME =~ $TEST_00600'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01210 && $CI_JOB_NAME =~ $TEST_01210'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01390 && $CI_JOB_NAME =~ $TEST_01390'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01561 && $CI_JOB_NAME =~ $TEST_01561'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01570 && $CI_JOB_NAME =~ $TEST_01570'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01590 && $CI_JOB_NAME =~ $TEST_01590'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01610 && $CI_JOB_NAME =~ $TEST_01610'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01620 && $CI_JOB_NAME =~ $TEST_01620'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01630 && $CI_JOB_NAME =~ $TEST_01630'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01650 && $CI_JOB_NAME =~ $TEST_01650'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01730 && $CI_JOB_NAME =~ $TEST_01730'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01740 && $CI_JOB_NAME =~ $TEST_01740'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01741 && $CI_JOB_NAME =~ $TEST_01741'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01742 && $CI_JOB_NAME =~ $TEST_01742'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_01750 && $CI_JOB_NAME =~ $TEST_01750'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_02100 && $CI_JOB_NAME =~ $TEST_02100'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_02101 && $CI_JOB_NAME =~ $TEST_02101'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_02102 && $CI_JOB_NAME =~ $TEST_02102'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_02105 && $CI_JOB_NAME =~ $TEST_02105'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_02107 && $CI_JOB_NAME =~ $TEST_02107'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_02108 && $CI_JOB_NAME =~ $TEST_02108'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_80000 && $CI_JOB_NAME =~ $TEST_80000'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_80010 && $CI_JOB_NAME =~ $TEST_80010'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_80060 && $CI_JOB_NAME =~ $TEST_80060'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_80080 && $CI_JOB_NAME =~ $TEST_80080'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_80300 && $CI_JOB_NAME =~ $TEST_80300'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_80400 && $CI_JOB_NAME =~ $TEST_80400'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_80401 && $CI_JOB_NAME =~ $TEST_80401'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ $TEST_80420 && $CI_JOB_NAME =~ $TEST_80420' 
      #  - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE !~ $TEST_NUMBERS' 

SPARC-LAYSIM-TEST-DEF-00009:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00009"

SPARC-LAYSIM-TEST-DEF-00010:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00010"

SPARC-LAYSIM-TEST-DEF-00012:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00012"

SPARC-LAYSIM-TEST-DEF-00021:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00021"

SPARC-LAYSIM-TEST-DEF-00022:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00022"

SPARC-LAYSIM-TEST-DEF-00023:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00023"

SPARC-LAYSIM-TEST-DEF-00500:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00500"

SPARC-LAYSIM-TEST-DEF-00510:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00510"
      NUMBER: "00510"

SPARC-LAYSIM-TEST-DEF-00540:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00540"

SPARC-LAYSIM-TEST-DEF-00560:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00560"

SPARC-LAYSIM-TEST-DEF-00600:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00600"

SPARC-LAYSIM-TEST-DEF-01210:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01210"

SPARC-LAYSIM-TEST-DEF-01390:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01390"
        
SPARC-LAYSIM-TEST-DEF-01561:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00010"

SPARC-LAYSIM-TEST-DEF-01570:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01570"

SPARC-LAYSIM-TEST-DEF-01590:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01590"

SPARC-LAYSIM-TEST-DEF-01610:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01610"

SPARC-LAYSIM-TEST-DEF-01650:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01650"

SPARC-LAYSIM-TEST-DEF-01730:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01730"

SPARC-LAYSIM-TEST-DEF-01740:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01740"

SPARC-LAYSIM-TEST-DEF-01741:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01741"

SPARC-LAYSIM-TEST-DEF-01750:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01750"

SPARC-LAYSIM-TEST-DEF-02100:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-02100"

# laysim-TEST-DEF-02101:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-2101"

# laysim-TEST-DEF-02102:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-02102"

# laysim-TEST-DEF-02105:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-02105"

# laysim-TEST-DEF-02107:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-02107"

# laysim-TEST-DEF-02108:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-02108"

SPARC-LAYSIM-TEST-DEF-80000:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80000"

SPARC-LAYSIM-TEST-DEF-80010:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80010"

SPARC-LAYSIM-TEST-DEF-80060:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80060"

SPARC-LAYSIM-TEST-DEF-80080:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80080"

SPARC-LAYSIM-TEST-DEF-80300:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80300"

SPARC-LAYSIM-TEST-DEF-80400:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80400"

SPARC-LAYSIM-TEST-DEF-80401:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80401"

SPARC-LAYSIM-TEST-DEF-80420:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80420"
