# Gitlab CICD script for .pre stage
# Author huca@GMV 2023

# .pre are jobs ran before any other job in the pipeline
# These jobs are used to check the state of VMs and to performn any specific VM action such as a cleanup.
# ARM and TASTE 1 are not allowed to fail since they are the only one with RVS license.
.pre-job-template:
    stage: .pre
    variables:
        GIT_STRATEGY: none # Prevents the cloning of the repository
    allow_failure: true
    before_script: 
        - ''               # Prevents the before_script from running
    script: 
        -   if ! [[ -z $CLEANUP ]] ;
            then 
                rm -rf /home/gitlab-runner/state/* ;
            fi

# ARM
ARM1_init:
    extends: .pre-job-template
    allow_failure: false
    tags:
        - ARM1
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[ALL\]/'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[ARM\]/'
        - if: '$CI_COMMIT_MESSAGE !~ /^\[ARM\]/ && $CI_COMMIT_MESSAGE !~ /^\[SPARC\]/'

ARM2_init:
    extends: .pre-job-template
    tags:
        - ARM2
    rules:
        - if: '$CI_PIPELINE_SOURCE == "schedule"'

ARM3_init:
    extends: .pre-job-template
    tags:
        - ARM3
    rules:
        - if: '$CI_PIPELINE_SOURCE == "schedule"'

# TASTE
TASTE1_init:
    extends: .pre-job-template
    allow_failure: false
    tags:
        - sparc-taste-debian1
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[ALL\]/'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/'

TASTE2_init:
    extends: .pre-job-template
    tags:
        - sparc-taste-debian2
    rules:
        - if: '$CI_PIPELINE_SOURCE == "schedule"'

TASTE3_init:
    extends: .pre-job-template
    tags:
        - sparc-taste-debian3
    rules:
        - if: '$CI_PIPELINE_SOURCE == "schedule"'
        
generate-config:
    stage: .pre
    script:
        - export TEST_NUMBER=$(echo $CI_COMMIT_MESSAGE | sed -nE 's/.*([0-9]{5}).*/\1/p')
        - ./generate-test TEST_NUMBER
        - cat test.yml
    artifacts:
        paths:
            - test.yml
    rules:
        - if: "$CI_COMMIT_MESSAGE =~ '/\\(\\d{5}\\)/'" 
