# Gitlab CICD script for validation stage
# Author huca@GMV 2023

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable does not exist." && exit 1; fi

.check-and-publish: &check-and-publish
    - $AIR/../utils/gitlab-runner/testcheck.py
    - $UTILS/publish_example.bash

.trigger-test:
    stage: validation_tests
    trigger:
        include:
            - artifact: $CI_PROJECT_DIR/test.yml
              job: generate-test-yml
    rules:
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE =~ /^\[(ARM|SPARC)\]/ && $CI_COMMIT_MESSAGE =~ /\(\d{5}\)/'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/ && $CI_COMMIT_MESSAGE =~ /\(\d{5}\)/'

# ARM
.ARM-QEMU-validation-template:
    stage: validation_tests
    tags: ["ARM"]
    needs: ["RVS-ARM-ZYNQZ1-build"]
    script: 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true
        - *check-and-publish
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request"'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE =~ /^\[ALL\]/'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE =~ /^\[ARM\]/ && $CI_COMMIT_MESSAGE !~ /(\d{5})/'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE !~ /.*\[.*?\].*/ && $CI_COMMIT_MESSAGE !~ /(\d{5})/'
    timeout: 5 minutes

#00001_arm_zynqz1: 
#    stage: examples
#    tags: 
#        - ARM
#    script:
#        - cd $AIR/examples/private-example/private/arm_unit_tests/lionel
#        - *build-executable
#        - $UTILS/runQemu.bash executable/AIRAPP.exe
#        - *check-and-publish

# SPARC
.SPARC-LAYSIM-validation-template:
  stage: validation_tests
  tags: ["SPARC","LAYSIM"]
  needs: ["RVS-SPARC-LAYSIM-build"]
  script: 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - laysim-gr740-mmu-cli -batch ../../../../../rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - make distclean -i # Ignore distclean errors
        - *check-and-publish
  rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request"'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE =~ /^\[ALL\]/'
        - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_COMMIT_MESSAGE !~ /(\d{5})/'
  timeout: 5 minutes

SPARC-LAYSIM-TEST-DEF-00009:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00009"

SPARC-LAYSIM-TEST-DEF-00010:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00010"

SPARC-LAYSIM-TEST-DEF-00012:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00012"

SPARC-LAYSIM-TEST-DEF-00021:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00021"

SPARC-LAYSIM-TEST-DEF-00022:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00022"

SPARC-LAYSIM-TEST-DEF-00023:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00023"

SPARC-LAYSIM-TEST-DEF-00500:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00500"

SPARC-LAYSIM-TEST-DEF-00510:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00510"
      NUMBER: "00510"

SPARC-LAYSIM-TEST-DEF-00540:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00540"

SPARC-LAYSIM-TEST-DEF-00560:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00560"

SPARC-LAYSIM-TEST-DEF-00600:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00600"
      
SPARC-LAYSIM-TEST-DEF-01200:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01200"

SPARC-LAYSIM-TEST-DEF-01210:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01210"

SPARC-LAYSIM-TEST-DEF-01390:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01390"
        
SPARC-LAYSIM-TEST-DEF-01561:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00010"

SPARC-LAYSIM-TEST-DEF-01570:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01570"

SPARC-LAYSIM-TEST-DEF-01590:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01590"

SPARC-LAYSIM-TEST-DEF-01610:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01610"

SPARC-LAYSIM-TEST-DEF-01650:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01650"

SPARC-LAYSIM-TEST-DEF-01730:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01730"

SPARC-LAYSIM-TEST-DEF-01740:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01740"

SPARC-LAYSIM-TEST-DEF-01741:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01741"

SPARC-LAYSIM-TEST-DEF-01750:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01750"

SPARC-LAYSIM-TEST-DEF-02100:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-02100"

# laysim-TEST-DEF-02101:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-2101"

# laysim-TEST-DEF-02102:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-02102"

# laysim-TEST-DEF-02105:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-02105"

# laysim-TEST-DEF-02107:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-02107"

# laysim-TEST-DEF-02108:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-02108"

SPARC-LAYSIM-TEST-DEF-80000:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80000"

SPARC-LAYSIM-TEST-DEF-80010:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80010"

SPARC-LAYSIM-TEST-DEF-80060:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80060"

SPARC-LAYSIM-TEST-DEF-80080:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80080"

SPARC-LAYSIM-TEST-DEF-80300:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80300"

SPARC-LAYSIM-TEST-DEF-80400:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80400"

SPARC-LAYSIM-TEST-DEF-80401:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80401"

SPARC-LAYSIM-TEST-DEF-80420:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80420"
