# Gitlab CICD script for validation stage
# Author huca@GMV 2023

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable doens\'t exist." && exit 1; fi

.check-and-publish: &check-and-publish
    - $AIR/../utils/gitlab-runner/testcheck.py
    - $UTILS/publish_example.bash

# ARM
.ARM-QEMU-validation-template:
    stage : validation_tests
    needs : ["ARM-QEMU-hello_world","ARM-QEMU-bare_c"]
    tags :  ["ARM"]
    script : 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true
        - *check-and-publish

#00001_arm_zynqz1:
#    stage: examples
#    tags: 
#        - ARM
#    script:
#        - cd $AIR/examples/private-example/private/arm_unit_tests/lionel
#        - *build-executable
#        - $UTILS/runQemu.bash executable/AIRAPP.exe
#        - *check-and-publish

# ARM-QEMU-TEST-DEF-00009:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00010:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00012:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00021:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00022:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-00023:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-00023"

ARM-QEMU-TEST-DEF-00500:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-00500"

ARM-QEMU-TEST-DEF-00510:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-00510"

# ARM-QEMU-TEST-DEF-00540:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00560:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-00600:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-00600"

ARM-QEMU-TEST-DEF-01210:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01210"

ARM-QEMU-TEST-DEF-01390:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01390"

# ARM-QEMU-TEST-DEF-01570:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-01590:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-01610:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-01620:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01620"

ARM-QEMU-TEST-DEF-01630:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01630"

ARM-QEMU-TEST-DEF-01650:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01650"

ARM-QEMU-TEST-DEF-01730:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01730"

ARM-QEMU-TEST-DEF-01740:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01740"

ARM-QEMU-TEST-DEF-01741:
   extends : .ARM-QEMU-validation-template
   variables :
     EXAMPLE : "TEST-DEF-01741"

ARM-QEMU-TEST-DEF-01742:
   extends : .ARM-QEMU-validation-template
   variables :
     EXAMPLE : "TEST-DEF-01742"

ARM-QEMU-TEST-DEF-01750:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-01750"

# ARM-QEMU-TEST-DEF-02100:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80000:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80010:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-80060:
    extends : .ARM-QEMU-validation-template
    variables :
      EXAMPLE : "TEST-DEF-80060"

# ARM-QEMU-TEST-DEF-80080:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80300:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-80300"

# ARM-QEMU-TEST-DEF-80400:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80401:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80420:
#    extends : .ARM-QEMU-validation-template
#    variables :
#      EXAMPLE : "TEST-DEF-00009"

# SPARC
.SPARC-LAYSIM-validation-template:
  stage : validation_tests
  needs : ["SPARC-LAYSIM-hello-world","SPARC-LAYSIM-bare_c","SPARC-LAYSIM-hm","SPARC-LAYSIM-ports","SPARC-LAYSIM-shm","SPARC-LAYSIM-paranoia","SPARC-LAYSIM-smp01","SPARC-LAYSIM-smp02"]
  tags :  ["SPARC","LAYSIM"]
  script : 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - laysim-gr740-mmu-cli -batch ../../../../../rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - make distclean -i # Ignore distclean errors
        - *check-and-publish

SPARC-LAYSIM-TEST-DEF-00009:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00009"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00010:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00010"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00012:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00012"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00021:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00021"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00022:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00022"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00023:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00023"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00500:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00500"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00510:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00510"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00540:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00540"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00560:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00560"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-00600:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00600"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01210:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01210"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01390:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01390"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success
        
SPARC-LAYSIM-TEST-DEF-01561:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-00010"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01570:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01570"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01590:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01590"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01610:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01610"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01650:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01650"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01730:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01730"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01740:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01740"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01741:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01741"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-01750:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-01750"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-02100:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-02100"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

# laysim-TEST-DEF-02101:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-2101"

# laysim-TEST-DEF-02102:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-02102"

# laysim-TEST-DEF-02105:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-02105"

# laysim-TEST-DEF-02107:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-02107"

# laysim-TEST-DEF-02108:
#    extends : .SPARC-LAYSIM-validation-template
#    variables : 
#      EXAMPLE : "TEST-DEF-02108"

SPARC-LAYSIM-TEST-DEF-80000:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80000"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-80010:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80010"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-80060:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80060"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-80080:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80080"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-80300:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80300"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-80400:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80400"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-80401:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80401"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success

SPARC-LAYSIM-TEST-DEF-80420:
    extends : .SPARC-LAYSIM-validation-template
    variables : 
      EXAMPLE : "TEST-DEF-80420"
    rules:
        - if: $COMMIT_TYPE == "SPARC" && $CI_JOB_NAME =~ /SPARC/ # && $COMMIT_TYPE != ""
          when: on_success
