# Gitlab CICD script for validation stage
# Author huca@GMV 2023

.build-executable: &build-executable
    - $AIR/configure
    - make clean
    - make
    - if ! test -f ./executable/AIRAPP.exe; then echo "Executable doens\'t exist." && exit 1; fi

.check-and-publish: &check-and-publish
    - $AIR/../utils/gitlab-runner/testcheck.py
    - $UTILS/publish_example.bash

# ARM
.ARM-QEMU-validation-template:
    stage: validation_tests
    needs: ["ARM-QEMU-hello_world","ARM-QEMU-bare_c"]
    tags:  ["ARM"]
    script: 
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - ($UTILS/rvs_arm_coverage-ci.bash | tee testresult.txt) || true
        - *check-and-publish
    variables:
        TEST_NUMBERS: "/00001|00009|00010|00012|00021|00022|00023|00500|00510|00540|00560|00600|01210|01390|01561|01570|01590|01610|01620|01630|01650|01730|01740|01741|01742|01750|02100|02101|02102|02105|02107|02108|80000|80010|80060|80080|80300|80400|80401|80420/"
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        - if: '$CI_PIPELINE_SOURCE == "schedule"'
        - if: '$CI_COMMIT_MESSAGE !~ /^\[ARM\]/ && $CI_COMMIT_MESSAGE !~ /^\[SPARC\]/ && $CI_COMMIT_MESSAGE =~ "/\(00500\)/" && $CI_JOB_NAME =~ "/00500/"' 
        - if: '$CI_COMMIT_MESSAGE =~ /^\[ARM\]/ && $CI_JOB_NAME =~ /ARM/ && $CI_COMMIT_MESSAGE =~ "/\(00510\)/" && $CI_JOB_NAME =~ "/00510/"' 
        - if: '$CI_COMMIT_MESSAGE =~ /^\[ARM\]/ && $CI_JOB_NAME =~ /ARM/ && $CI_COMMIT_MESSAGE !~ $TEST_NUMBERS'
        - if: '$CI_COMMIT_MESSAGE !~ /^\[ARM\]/ && $CI_COMMIT_MESSAGE !~ /^\[SPARC\]/ && $CI_COMMIT_MESSAGE !~ $TEST_NUMBERS'

#00001_arm_zynqz1:
#    stage: examples
#    tags: 
#        - ARM
#    script:
#        - cd $AIR/examples/private-example/private/arm_unit_tests/lionel
#        - *build-executable
#        - $UTILS/runQemu.bash executable/AIRAPP.exe
#        - *check-and-publish

# ARM-QEMU-TEST-DEF-00009:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00010:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00012:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00021:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00022:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-00023:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-00023"

ARM-QEMU-TEST-DEF-00500:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-00500"

ARM-QEMU-TEST-DEF-00510:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-00510"

# ARM-QEMU-TEST-DEF-00540:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-00560:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-00600:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-00600"

ARM-QEMU-TEST-DEF-01210:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-01210"

ARM-QEMU-TEST-DEF-01390:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-01390"

# ARM-QEMU-TEST-DEF-01570:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-01590:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-01610:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-01620:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-01620"

ARM-QEMU-TEST-DEF-01630:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-01630"

ARM-QEMU-TEST-DEF-01650:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-01650"

ARM-QEMU-TEST-DEF-01730:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-01730"

ARM-QEMU-TEST-DEF-01740:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-01740"

ARM-QEMU-TEST-DEF-01741:
   extends: .ARM-QEMU-validation-template
   variables:
     EXAMPLE: "TEST-DEF-01741"

ARM-QEMU-TEST-DEF-01742:
   extends: .ARM-QEMU-validation-template
   variables:
     EXAMPLE: "TEST-DEF-01742"

ARM-QEMU-TEST-DEF-01750:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-01750"

# ARM-QEMU-TEST-DEF-02100:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80000:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80010:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

ARM-QEMU-TEST-DEF-80060:
    extends: .ARM-QEMU-validation-template
    variables:
      EXAMPLE: "TEST-DEF-80060"

# ARM-QEMU-TEST-DEF-80080:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80300:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-80300"

# ARM-QEMU-TEST-DEF-80400:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80401:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# ARM-QEMU-TEST-DEF-80420:
#    extends: .ARM-QEMU-validation-template
#    variables:
#      EXAMPLE: "TEST-DEF-00009"

# SPARC
.SPARC-LAYSIM-validation-template:
  stage: validation_tests
  needs: ["SPARC-LAYSIM-hello_world"] # ,"SPARC-LAYSIM-bare_c","SPARC-LAYSIM-hm","SPARC-LAYSIM-ports","SPARC-LAYSIM-shm","SPARC-LAYSIM-paranoia","SPARC-LAYSIM-smp01","SPARC-LAYSIM-smp02"]
  tags:  ["SPARC","LAYSIM"]
  script: 
        - echo "The value of TEST_NUMBER is $TEST_NUMBER"
        - cd $AIR/examples/private-example/private/validation/$EXAMPLE
        - *build-executable
        - laysim-gr740-mmu-cli -batch ../../../../../rvs_air/scripts/laysim_cmds.txt | tee testresult.txt
        - make distclean -i # Ignore distclean errors
        - *check-and-publish
  variables:
        TEST_NUMBERS: "/00001|00009|00010|00012|00021|00022|00023|00500|00510|00540|00560|00600|01210|01390|01561|01570|01590|01610|01620|01630|01650|01730|01740|01741|01742|01750|02100|02101|02102|02105|02107|02108|80000|80010|80060|80080|80300|80400|80401|80420/"
  rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        - if: '$CI_PIPELINE_SOURCE == "schedule"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00001\)/" && $CI_JOB_NAME =~ "/00001/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00009\)/" && $CI_JOB_NAME =~ "/00009/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00010\)/" && $CI_JOB_NAME =~ "/00010/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00012\)/" && $CI_JOB_NAME =~ "/00012/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00021\)/" && $CI_JOB_NAME =~ "/00021/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00022\)/" && $CI_JOB_NAME =~ "/00022/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00023\)/" && $CI_JOB_NAME =~ "/00023/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00500\)/" && $CI_JOB_NAME =~ "/00500/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00510\)/" && $CI_JOB_NAME =~ "/00510/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00540\)/" && $CI_JOB_NAME =~ "/00540/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00560\)/" && $CI_JOB_NAME =~ "/00560/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(00600\)/" && $CI_JOB_NAME =~ "/00600/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01210\)/" && $CI_JOB_NAME =~ "/01210/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01390\)/" && $CI_JOB_NAME =~ "/01390/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01561\)/" && $CI_JOB_NAME =~ "/01561/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01570\)/" && $CI_JOB_NAME =~ "/01570/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01590\)/" && $CI_JOB_NAME =~ "/01590/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01610\)/" && $CI_JOB_NAME =~ "/01610/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01620\)/" && $CI_JOB_NAME =~ "/01620/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01630\)/" && $CI_JOB_NAME =~ "/01630/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01650\)/" && $CI_JOB_NAME =~ "/01650/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01730\)/" && $CI_JOB_NAME =~ "/01730/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01740\)/" && $CI_JOB_NAME =~ "/01740/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01741\)/" && $CI_JOB_NAME =~ "/01741/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01742\)/" && $CI_JOB_NAME =~ "/01742/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(01750\)/" && $CI_JOB_NAME =~ "/01750/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(02100\)/" && $CI_JOB_NAME =~ "/02100/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(02101\)/" && $CI_JOB_NAME =~ "/02101/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(02102\)/" && $CI_JOB_NAME =~ "/02102/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(02105\)/" && $CI_JOB_NAME =~ "/02105/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(02107\)/" && $CI_JOB_NAME =~ "/02107/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(02108\)/" && $CI_JOB_NAME =~ "/02108/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(80000\)/" && $CI_JOB_NAME =~ "/80000/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(80010\)/" && $CI_JOB_NAME =~ "/80010/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(80060\)/" && $CI_JOB_NAME =~ "/80060/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(80080\)/" && $CI_JOB_NAME =~ "/80080/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(80300\)/" && $CI_JOB_NAME =~ "/80300/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(80400\)/" && $CI_JOB_NAME =~ "/80400/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(80401\)/" && $CI_JOB_NAME =~ "/80401/"'
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE =~ "/\(80420\)/" && $CI_JOB_NAME =~ "/80420/"' 
        - if: '$CI_COMMIT_MESSAGE =~ /^\[SPARC\]/ && $CI_JOB_NAME =~ /SPARC/ && $CI_COMMIT_MESSAGE !~ $TEST_NUMBERS'

SPARC-LAYSIM-TEST-DEF-00009:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00009"

SPARC-LAYSIM-TEST-DEF-00010:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00010"

SPARC-LAYSIM-TEST-DEF-00012:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00012"

SPARC-LAYSIM-TEST-DEF-00021:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00021"

SPARC-LAYSIM-TEST-DEF-00022:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00022"

SPARC-LAYSIM-TEST-DEF-00023:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00023"

SPARC-LAYSIM-TEST-DEF-00500:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00500"

SPARC-LAYSIM-TEST-DEF-00510:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00510"
      NUMBER: "00510"

SPARC-LAYSIM-TEST-DEF-00540:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00540"

SPARC-LAYSIM-TEST-DEF-00560:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00560"

SPARC-LAYSIM-TEST-DEF-00600:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00600"

SPARC-LAYSIM-TEST-DEF-01210:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01210"

SPARC-LAYSIM-TEST-DEF-01390:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01390"
        
SPARC-LAYSIM-TEST-DEF-01561:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-00010"

SPARC-LAYSIM-TEST-DEF-01570:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01570"

SPARC-LAYSIM-TEST-DEF-01590:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01590"

SPARC-LAYSIM-TEST-DEF-01610:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01610"

SPARC-LAYSIM-TEST-DEF-01650:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01650"

SPARC-LAYSIM-TEST-DEF-01730:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01730"

SPARC-LAYSIM-TEST-DEF-01740:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01740"

SPARC-LAYSIM-TEST-DEF-01741:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01741"

SPARC-LAYSIM-TEST-DEF-01750:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-01750"

SPARC-LAYSIM-TEST-DEF-02100:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-02100"

# laysim-TEST-DEF-02101:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-2101"

# laysim-TEST-DEF-02102:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-02102"

# laysim-TEST-DEF-02105:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-02105"

# laysim-TEST-DEF-02107:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-02107"

# laysim-TEST-DEF-02108:
#    extends: .SPARC-LAYSIM-validation-template
#    variables: 
#      EXAMPLE: "TEST-DEF-02108"

SPARC-LAYSIM-TEST-DEF-80000:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80000"

SPARC-LAYSIM-TEST-DEF-80010:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80010"

SPARC-LAYSIM-TEST-DEF-80060:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80060"

SPARC-LAYSIM-TEST-DEF-80080:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80080"

SPARC-LAYSIM-TEST-DEF-80300:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80300"

SPARC-LAYSIM-TEST-DEF-80400:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80400"

SPARC-LAYSIM-TEST-DEF-80401:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80401"

SPARC-LAYSIM-TEST-DEF-80420:
    extends: .SPARC-LAYSIM-validation-template
    variables: 
      EXAMPLE: "TEST-DEF-80420"
